  <ul class="usa-accordion explain-this subscribe">
    <li>
      <button class="usa-accordion-button" aria-expanded="false" aria-controls="subscribe">Explain this</button>
      <div id="subscribe" class="usa-accordion-content">
      <p>The Thrift Savings Plan is happy to offer a free email subscription service. This service allows participants to receive notifications by email when new information is available on the TSP website. With this service, you automatically receive an email when there is new or updated information on the TSP website about items of interest to you.</p>
      <p>This is a free service sponsored by the TSP and provided through GovDelivery. Your email address will be used to notify you when updates are made; it will not be used for any other purpose by the TSP.</p>
      </div>
    </li>
  </ul>
