<ul class="usa-accordion">
<!-- faq 1 -->
<li>
<button class="usa-accordion-button"
aria-expanded="false"
aria-controls="a1">
How do I report my new address to TSP?
</button>
<div id="a1" class="usa-accordion-content" markdown="1">
How you change your address with us depends on whether or not you still work for the federal government.

**If you’re currently a federal employee**, report your correct address to your agency. We can’t accept address changes directly from you.

**If you're an active member of the Air Force, Army, Navy, or Marine Corps**, you can update your address through the [myPay](https://mypay.dfas.mil/mypay.aspx){:target="\_blank"} website. Just make sure that you log in and go to the TSP section to change your TSP address. If you change it in the “Correspondence Address” section of myPay, it will not change your TSP address. Members of the Coast Guard and NOAA Corps can use [Direct Access](https://hcm.direct-access.us/){:target="\_blank"}. Select "Home and Mailing Address" under Tasks, then choose "TSP" from the drop-down menu next to "Address Type."

**If you’re no longer a federal employee or uniformed services member**, visit [My Account: Profile Settings](javascript:void(0);) to change the address. Or while you’re logged in, use our Change in Address for Separated Participants, Form TSP-9, and fax or mail it to us.

To change or validate your contact information such as your phone number or email address, visit [My Account: Profile Settings](javascript:void(0);).
</div>
</li>
<!-- faq 2 -->
<li>
<button class="usa-accordion-button"
aria-expanded="false"
aria-controls="a2">
How do I start, change, or stop my contributions to the TSP?
</button>
<div id="a2" class="usa-accordion-content" markdown="1">
In most cases, you’ll use your agency’s or service’s electronic payroll system to start, change, or stop your TSP contributions. For example, civilian payroll systems include Employee Express, myPay, EBIS, LiteBlue, or NFC EPP. Uniformed services can use myPay (Army, Air Force, Navy, Marine Corps) or Direct Access (Coast Guard and NOAA Corps).

If your agency or service accepts the paper form, download and complete the Form TSP-1, [_Election Form_](/forms/tsp-1.pdf) (or [Form TSP-U-1](/forms/tsp-u-1.pdf) for uniformed services members), or call the ThriftLine at 1-877-968-3778 and choose option 3 to have it mailed to you.
</div>
</li>
<!-- faq 3 -->
<li>
<button class="usa-accordion-button"
aria-expanded="false"
aria-controls="a3">
When can I begin making catch-up contributions?
</button>
<div id="a3" class="usa-accordion-content" markdown="1">
Starting in the year you turn 50, you may be eligible to make catch-up contributions to your TSP account in addition to your regular employee contributions.

Here’s what you should know:

- You must already be contributing an amount that will reach the IRS annual contribution limit. To see the current limits, visit [Contribution Limits](/making-contributions/contribution-limits/).
- You may start, change, or stop making catch-up contributions at any times.
- There are no matching contributions for catch-up contributions.
- You must make a new election each year—they do not restart automatically.

Uniformed services members can use tax-exempt pay to make catch-up contribution, but not incentive pay, special pay, or bonus pay.

To make a catch-up contribution election, use your agency’s or service’s payroll website (e,g., Employee Express, myPay, LiteBlue, EBIS, or NFC-EPP) or complete [Form TSP-1-C](/forms/tsp-1-c.pdf/), _Catch-Up Contribution Election_ ([TSP-U-1-C](/forms/tsp-u-1-c.pdf/) for uniformed services members) and submit it to your payroll office. You may also download the form or call the ThriftLine at 1-877-968-3778 and press 3 to request a copy.
</div>
</li>
<!-- faq 4 -->
<li>
<button class="usa-accordion-button"
aria-expanded="false"
aria-controls="a4">
How do I access my account if I lose or forget my password?
</button>
<div id="a4" class="usa-accordion-content" markdown="1">
If you forget, lose, or want to change your TSP account password, you’ve got a few options.

If you forget or lose your password, go to the My Account section of tsp.gov, click on “Forgot your password?” and follow the prompts. If you know your password and want to change it, log in to [My Account: Profile Settings]({% include my-account/profile-settings.html %}) and click on “Change Your Password.” You can also call the ThriftLine at 1-877-968-3778 and press option 3 to speak to a Participant Service Representative.
</div>
</li>
<!-- faq 5 -->
<li>
<button class="usa-accordion-button"
aria-expanded="false"
aria-controls="a5">
How long does it take for my loan request to process?
</button>
<div id="a5" class="usa-accordion-content" markdown="1">

If you successfully complete the entire loan process online and are approved, you’ll receive your money within 7–10 business days in the form of a check mailed to the address we have on file for you. You will not have the option of receiving your money by electronic funds transfer (EFT).

If you submitted a paper loan agreement, your request make take several weeks to process.

You may track the [status of your loan]({% include my-account/loan.html %}) online or by [contacting us](/contact/).

</div>
</li>
</ul>
