<section class="bootstrap-modals-forms">
  <!-- TSP-1 -->
  <div class="modal fade" id="tsp01" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Changing your contributions? Save at least 5% to get your full match.</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <p>Don’t walk away from free money! If you are a FERS or BRS participant, your agency or service matches your contributions — up to 4% if you contribute 5% each pay period. Furthermore, when you add the Agency/Service Automatic (1%) Contributions to your matching contributions, you’ll double your 5% investment instantly.</p>

            <ul class="flex column center usa-unstyled-list">
              <li>
                <button onclick="location.href= '/forms/tsp-1.pdf';" class="usa-button">Continue to Form TSP-1<i class="fal fa-file-pdf"></i></button>
              </li>
            </ul>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default usa-button" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- TSP-3 -->
  <div class="modal fade" id="tsp03" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">See how easy it is to complete this form.</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <p>Let our online wizard help you with your beneficiary designation. Based on your answers to a series of questions, it will prefill the appropriate sections of your form and help you avoid mistakes that could cause your form to be delayed
            or rejected.</p>

            <ul class="flex column center usa-unstyled-list">
              <li>
                <button onclick="location.href= 'https://www.tsp.gov/tsp/beneficiaries.do?subaction=beneLanding&amp;_name=bene';" class="usa-button"><strong>YES,</strong><br>take me to the TSP-3 Wizard.</button>
              </li>
              <li>
                <a class="form" href="/forms/tsp-3.pdf">No thanks, just download Form TSP-3</a>.
              </li>
            </ul>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default usa-button" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- TSP-9 -->
  <div class="modal fade" id="tsp09" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Are you separated from federal employment?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <ul class="flex justify-center center usa-unstyled-list decision">
            <li>
              <button class="yesBtn usa-button-secondary">Yes</button>
            </li>
            <li>
              <button class="noBtn usa-button-secondary">No</button>
            </li>
          </ul>
          <div class="yes hide">
            <p>If you are separated from federal employment, you may change your address online at <a href="/tsp/profileSettings.do?subaction=view&amp;amp;\_name=profile">My Account: Profile Settings</a>. You will need to enter your
              TSP account number and your web password to make this change. You may also call the ThriftLine to change your address. Active participants must
              notify your agency or service when you have an address change.</p>
              <ul class="flex column center usa-unstyled-list">
                <li>

                  <button onclick="location.href= 'https:www.tsp.gov/tsp/profileSettings.do?subaction=view&amp;amp;\_name=profile';" class="usa-button"><strong>YES,</strong><br>take me to My Account.</button>
                </li>

              </ul>
          </div>
          <div class="no hide">
            <p>You cannot use this form to change your address. As a current federal employee or service member, you must change your address through your agency or service.</p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default usa-button" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- TSP-15 -->
  <div class="modal fade" id="tsp15" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Are you separated from federal employment?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <ul class="flex justify-center center usa-unstyled-list decision">
            <li>
              <button class="yesBtn usa-button-secondary">Yes</button>
            </li>
            <li>
              <button class="noBtn usa-button-secondary">No</button>
            </li>
          </ul>
          <div class="yes hide">
            <p>To change your name, you will need to provide documentation to the TSP. See the instructions on the form for documentation requirements.</p>

            <ul class="flex column center usa-unstyled-list">
              <li>
                <a href="/forms/tsp-15.pdf" class="form">Download Form TSP-15</a>.
              </li>
            </ul>

          </div>
          <div class="no hide">
            <p>You cannot use this form to change your name. As a current federal employee or service member, you must change your name through your agency or service.</p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default usa-button" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- TSP-20 -->
  <div class="modal fade" id="tsp20" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Thinking of taking a loan? Watch this first.</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <div class="video-wrapper">
            <iframe allowfullscreen="true" frameborder="0" src="https://www.youtube.com/embed/5z-KXHZAF-U?rel=0"></iframe>
          </div>
          <p>Log in to <a href="https://www.tsp.gov/tsp/loan.do?subaction=menu&amp;amp;_name=loan">My Account</a> and access the online wizard under &#8220;TSP Loans&#8221; to help you with your loan request.</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default usa-button" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- TSP-25 -->
  <div class="modal fade" id="tsp25" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Automatic Enrollment Refund Request</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <p>You must submit this form <strong>within 90 days</strong> of the date of the first contribution of your automatic enrollment. Has it been less than 90 days since your first contribution?</p>
          <ul class="flex justify-center center usa-unstyled-list decision">
            <li>
              <button class="yesBtn usa-button-secondary">Yes</button>
            </li>
            <li>
              <button class="noBtn usa-button-secondary">No</button>
            </li>
          </ul>
          <div class="yes hide center">
            <p><a class="form" href="/forms/tsp-25.pdf">Download Form TSP-25</a></p>
          </div>
          <div class="no hide">
            <p>You are ineligible to receive an automatic enrollment refund. Please call the <a href="/contact/">ThriftLine</a> if you have any questions.</p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default usa-button" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- TSP-92 -->
  <div class="modal fade" id="tsp92" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">See how easy it is to complete this form.</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <p>Let our online wizard help you complete your court order. Based on your answers to a series of questions, it will prefill the appropriate sections of your form and help you avoid mistakes that could cause your form to be delayed or
            rejected.</p>
          <ul class="flex column center usa-unstyled-list">
            <li>

              <button onclick="location.href= '/planning-for-life-events/retirement-benefits-court-order/';" class="usa-button"><strong>YES,</strong><br>take me to the Retirement Benefits Court Order Wizard.</button>
            </li>
            <li>
              <a href="/forms/tsp-92.pdf" class="form">No thanks, just download Form TSP-92</a>.
            </li>
          </ul>
          <!-- <p class="center"><a href="/forms/tsp-92.pdf" class="form">No thanks, just download Form TSP-92</a>.</p> -->
        </div>

        <div class="modal-footer">
          <button class="usa-button" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</section>
