{% comment %}
HTML block for one faq item accordion.
{% endcomment %}
{% assign entry = include.entry %}
{% assign plan_news_name = entry.permalink | split: '/' | last | default: 'anchor' %}
{% assign plan_news_posted = entry.path | split: '/' | last | truncate: 10, '' | default: '--' %}
{% assign showHeader = include.showHeader | default: 1 %}
{% assign searchBar = include.searchBar | default: 0 %}

<a name="{{plan_news_name}}"></a>
{% if showHeader != 0 %}
<div class="flex header-line" markdown="1">
## {{plan_news_posted | date: '%B %Y'}} news and announcements
</div>
{% endif %}

<div class="usa-grid">
<div class="usa-width-one-whole" markdown="1">
<div id="{{plan_news_name}}-div">{{entry.content}}</div>
<div class="flex post-and-share">
  <span id="{{plan_news_name}}-posted" class="post-date" >Posted: {{plan_news_posted | date: '%B %d, %Y'}}</span>
  <!-- Share Modal -->
  {% include social-media-share.html modalID=plan_news_name %}
  {% include copy-to-clipboard.html element=plan_news_name function='copyPlanNewsToClipboard' %}
  {% comment %}{% if entry.permalink %}<a href="{{entry.permalink}}.html">Entry</a>{% endif %}{% endcomment %}
</div>
{% include share-bar.html pageurl=entry.permalink modalID=plan_news_name %}
</div>
</div>
