{% comment %}
Adds a magnifying glass icon which can be clicked and setups a search box with a callback to the page.
{% endcomment %}
{% assign action = include.action | default: 'javascript:void(0);' %}
{% assign onChange = include.onChange | default: 'javascript:void(0);' %}
{% assign searchName = include.searchName | default: 'search_form' %}
{% assign searchID = 'search-form-' | append: searchName %}
{% assign searchInput = 'search-input-' | append: searchName %}
{% assign searchMessage = 'search-message-' | append: searchName %}
{% assign searchAffiliate = 'search-affiliate-' | append: searchName %}
{% assign affiliatePlaceholder = include.affiliatePlaceholder | default: 0 %}

<div class="flex header-line">
<button class="usa-button-big" onclick="window.location.href = '{{ site.baseurl }}/exit/?idx=4';">Subscribe</button>
<!-- Animated search bar -->
<form accept-charset="UTF-8" action="{{action}}" id="{{searchID}}" method="get" class="animated-search">
<div>
{% if affiliatePlaceholder > 0 %}
<select id="{{searchAffiliate}}" onChange="{{onChange}}">
  <option value="0">forgot to make list</option>
</select>
{% endif %}
<label for="{{searchInput}}" class="usa-sr-only">Enter search term(s)</label>
<input type="text" name="{{searchInput}}" id="{{searchInput}}"
    onChange="{{onChange}}" autocomplete="off" placeholder="Enter search term(s)">
</div>
</form>
</div>
<div id="{{searchMessage}}"></div>
