{% assign selectorID = include.selectorID | default: 0 %}
{% assign rsID = 'resultSelector' | append: selectorID %}
<div id="{{rsID}}Div">
{% if include.introText %}
<p>{{include.introText}}</p>
{% endif %}
<fieldset class="usa-fieldset-inputs usa-sans">
<legend class="usa-sr-only">View</legend>
<ul class="usa-unstyled-list flex space-evenly view">
<li>
<input type="radio" id="{{rsID}}Graph" name="{{rsID}}" value="graph" onclick="resultSelector('{{rsID}}','{{rsID}}Graph');">
<label for="{{rsID}}Graph"><strong>Graph</strong></label>
</li>

<li>
<input type="radio" id="{{rsID}}Table" name="{{rsID}}" value="table" onclick="resultSelector('{{rsID}}','{{rsID}}Table');">
<label for="{{rsID}}Table"><strong>Table</strong></label>
</li>

<li>
<input type="radio" id="{{rsID}}Combined" name="{{rsID}}" value="combined" onclick="resultSelector('{{rsID}}','{{rsID}}Combined');">
<label for="{{rsID}}Combined"><strong>Combined</strong></label>
</li>
</ul>
</fieldset>
</div>
<div id="{{rsID}}-graph" class="hide">|GRAPH|</div>
<div id="{{rsID}}-table" class="hide">|TABLE|</div>
