.usa-grid {
  .usa-hero-callout h1 {
    font-size: 5.65rem;
    font-family: $font-sans;
    margin-top: 0;
  }
  .usa-hero-callout p {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .usa-hero-callout {
    // margin-top: 1rem;
    // margin-right: 0;
    // margin-bottom: 1rem;
    // margin-left: 0;
    margin: 6rem 0;
    color: #fff;
    max-width: 56rem;
    background-color: transparent;
    padding: 3rem 3rem 3rem 0;
  }
}

.home-getting-started .usa-grid {
  h2 {
    text-align: center;
    font-size: 3.5rem;
  }
  h2, h3, p {
    color: white;
  }
  h3 {
    font-size: 2.4rem;
    font-weight: 400;
  }
  p {
    font-size: $h5-font-size;
  }
  img {
    width: 50;
    vertical-align: text-top;
  }
}
.usa-section-dark a {
  color: #ffffff;
  text-decoration: none;
}
.agency-service .usa-grid {
  h2 {
    text-align: center;
    font-size: 3rem;
    font-family: $font-sans;
  }
  h2, h3, p {
    text-align: center;
    color: white;
  }
  p {
    font-size: $h3-font-size;
  }
}
.tertiary-navigation .usa-grid {
  ul {
    font-size: 1.5rem;
  }
  li:first-of-type {
    font-family: $font-serif;
    font-weight: bold;
  }
}

.home-about {
  .usa-width-two-thirds {
    padding-right: $spacing-md-small;
  }
  .usa-width-one-third {

  }
}

.login {
    background-color: #fff;
    padding: 2rem 2rem;
    font-size: 1.5rem;
    margin-top: 4rem;
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
}
// Styles for feedback modal and tab
#fba-overlay.is-active{ position: fixed;bottom: 0;top: 0;left: 0;right: 0;background-color: rgba(0,0,0,.25);z-index: 1000;}
#fba-modal{z-index: 1001;position: fixed;top:0;left: 0;right: 0;overflow-x:auto;padding:20px;}
#fba-modal-dialog{max-width: 500px;background: #fff;padding:20px;position:relative;margin:0 auto;}
#fba-modal-title {margin-top: 0;margin-right: 20px;margin-bottom:20px;font-size:2.5rem;}
#fba-text-name,#fba-text-email{max-width:100%!important;font-size:100%}
#fba-modal-close{position: absolute;top:0;right:0;padding:10px;font-size: 24px;color: #5b616b;background: none;line-height: 1;text-decoration: none;width: auto;}
#feedback-form fieldset {margin: 1rem 0; }
#feedback-form p {margin: 1rem 0;}
#feedback-form label {display:block;margin-top: 1rem;}
#feedback-form input {margin-bottom: 1.5rem; width: 75%;}
#feedback-form #fba-submit {width: auto;}
