.usa-grid {
  .usa-hero-callout h1 {
    font-size: 5rem;
    font-family: $font-sans;
  }
  .usa-hero-callout {
    // margin-top: 1rem;
    // margin-right: 0;
    // margin-bottom: 1rem;
    // margin-left: 0;
    margin: 3rem 0;
  }
}

.home-getting-started .usa-grid {
  h2 {
    text-align: center;
    font-size: 3.5rem;
  }
  h2, h3, p {
    text-align: center;
    color: white;
  }
  p {
    font-size: $h5-font-size;
  }
}

.agency-service .usa-grid {
  h2 {
    text-align: center;
    font-size: 3rem;
    font-family: $font-sans;
  }
  h2, h3, p {
    text-align: center;
    color: white;
  }
  p {
    font-size: $h3-font-size;
  }
}
.tertiary-navigation .usa-grid {
  ul {
    font-size: 1.5rem;
  }
  li:first-of-type {
    font-family: $font-serif;
    font-weight: bold;
  }
}

.home-about {
  .usa-width-two-thirds {
    padding-right: $spacing-md-small;
  }
  .usa-width-one-third {

  }
}

.login {
    background-color: #fff;
    padding: 2rem 2rem;
    font-size: 1.5rem;
    margin-top: 4rem;
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
}
