---
---

@import 'variables';
@import 'uswds/all';

@import 'components/header';
@import 'components/misc';
@import 'components/typography';
@import 'components/feedback';

@import 'home';

@import 'basscss-sass/scss/basscss';
@import 'basscss-sass/scss/responsive-margin';
@import 'basscss-sass/scss/responsive-padding';


.usa-section-dark {
  background-color: #323a45;
}
.usa-hero {
  h1 {
    font-weight: 500;
    width: 15ch;
    line-height: 6rem;
  }
}
.section-investor {
  background-image: url('/assets/img/Woman_FeatherEdge.png');
  background-size: cover;
  padding: 22rem 0;
  color: #323a45;
  h1 {
    margin-top: 0;
    color: #323a45;
  }
  a {
    color: #323a45;
    font-size: 3rem;
    text-decoration: none;
    padding: 1rem 0;
    img {
      width: 40px;
      height: 40px;
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
}
.our-funds {
  .callout {
    background-color: #1ba7d0;
    color: #fff;
    p {
      text-align: center;
      margin:auto;
      font-size: 3rem;
      padding: 3rem 0;
    }
  }

}

.footer-nav {
  background-color: #323a45;
  color: #1ba7d0;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.text-center {
  text-align: center;
}

.fund-grid {
h3 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin-bottom: 1rem;
}
 p {margin:0;}
 .usa-width-one-third {
   margin-bottom: 8rem;
 }
 img {
   height: 25px;
    width: 25px;
    vertical-align: bottom;
    margin-left: 1rem;
 }
}
