{% comment %}
This creates the start of an 'Adjust Your Results' table.
{% endcomment %}
{% assign caption = include.caption | default: 'Caption' %}
{% assign showPanel = include.showPanel | default: 1 %}
{% assign gotoAnchor = include.gotoAnchor | default: 'top' %}
{% assign closeTable = include.closeTable | default: false %}
{% assign tableID = include.tableID | default: '' %}
{% if tableID != '' %}
{% assign tableID = 'id="' | append: tableID | append: '"' %}
{% endif %}
<table {{tableID}} class="usa-table-borderless">
<caption>{{ caption}} <a href="#{{gotoAnchor}}" onClick="showPanel({{showPanel}});">Change</a></caption>
<colgroup><col><col></colgroup>
<tbody>
{% if closeTable %}</tbody>
</table>{% endif %}
