{% comment %}
Generates a list of buttons.  The box around them and the ul should be done by the caller.
{% endcomment %}
{% assign panelID = include.panelID | default: 0 %}

{% assign getStarted = include.getStarted | default: 0 %}
{% assign start = include.start | default: 0 %}
{% assign showPDF = include.showPDF | default: 0 %}
{% assign prev = include.prev | default: 0 %}
{% assign nextOK = include.nextOK | default: 0 %}
{% assign next = include.next | default: 0 %}
{% assign submit = include.submit | default: 0 %}
{% assign showResults = include.showResults | default: 0 %}
{% assign revise = include.revise | default: 0 %}
{% assign print = include.print | default: 0 %}
{% assign bonusButton1 = include.bonusButton1 | default: 0 %}
{% assign bonusButton2 = include.bonusButton2 | default: 0 %}
{% assign bonusButton3 = include.bonusButton3 | default: 0 %}

<nav><ul class="navigation-buttons">
{% if showPDF != 0 %}
<input type="submit" name="PDF" value="Show Blank PDF">
{% include calculator/button.html text='Download' title='Blank PDF form opens in a new window.'
    href='courtOrderDir/courtOrder.pdf' onClick="blankPDF();" xtraClass2='primary' inList=1 %}
{% endif %}

{% if bonusButton1 != 0 %}{{ bonusButton1}}{% endif %}

{% if getStarted != 0 %}
{% capture click %}processPanel({{ panelID }}, 0, {{ getStarted }}, 0); return false;{% endcapture %}
{% include calculator/button.html text='Get started' onClick=click xtraClass2='primary' inList=1 %}
{% endif %}

{% if start != 0 %}
{% capture click %}processPanel({{ panelID }}, 0, {{ start }}, 0); return false;{% endcapture %}
{% include calculator/button.html text='Start' onClick=click xtraClass2='primary' inList=1 %}
{% endif %}

{% if prev != 0 %}
{% capture click %}showPanel({{ prev }}); return false;{% endcapture %}
{% include calculator/button.html text='Previous' href='javascript:void(0);' onClick=click buttonClass="usa-button-secondary" xtraClass2='back' inList=1 %}
{% endif %}

{% if bonusButton2 != 0 %}{{ bonusButton2}}{% endif %}

{% if nextOK != 0 %}
<span id="areYouSurebottomButtons{{ panelID }}" style="display:none">
  {% capture click %}processPanel(-{{ panelID }}, 0, {{ next }}, 0); return false;{% endcapture %}
  {% include calculator/button.html onClick=click xtraClass2='forward' inList=1
     text='Add <img src="/resources/images/yield_icon_calculator.png" alt="Required field" height="12px"> to PDF later' %}
</span>
<span id="continue{{ panelID }}NotOK" style="display: none">
  {% capture click %}processPanel({{ panelID }}, 0, 0, 0); return false;{% endcapture %}
  {% include calculator/button.html text='Continue' onClick=click xtraClass2='primary forward' xtraClass1='disabled' inList=1 %}
</span>
{% endif %}

{% if next != 0 %}
<span id="continue{{ panelID }}OK">
  {% capture click %}processPanel({{ panelID }}, 0, {{ next }}, 0); return false;{% endcapture %}
  {% include calculator/button.html text='Continue' onClick=click xtraClass2='primary forward' inList=1 %}
</span>
{% endif %}

{% if showResults != 0 %}
<span id="showResults{{ panelID }}">
  {% capture click %}processPanel({{ panelID }}, 0, {{ showResults }}, 0); return false;{% endcapture %}
  {% include calculator/button.html text='Show results' onClick=click xtraClass2='primary forward' inList=1 %}
</span>
{% endif %}

{% if bonusButton3 != 0 %}{{ bonusButton3}}{% endif %}

{% if revise != 0 %}
  {% capture click %}showPanel({{ revise }}); return false;{% endcapture %}
  {% include calculator/button.html text='Revise' onClick=click xtraClass2='primary back' inList=1 %}
{% endif %}

{% if submit != 0 %}
<span id="submit{{ panelID }}OK">
  {% capture click %}processPanel({{ panelID }}, 0, 0, {{ submit }}); return false;{% endcapture %}
  {% include calculator/button.html text='Submit' onClick=click xtraClass2='primary' inList=1 %}
</span>
<span id="submit{{ panelID }}NotOK" style="display: none">
  {% capture click %}processPanel({{ panelID }}, 0, 0, 0); return false;{% endcapture %}
  {% include calculator/button.html text='Submit' onClick=click xtraClass2='primary' xtraClass1='disabled' inList=1 %}
</span>
{% endif %}

{% if print != 0 %}
  {% capture printAction %}window.print(); return false;{% endcapture %}
  {% include calculator/button.html text='Print report' onClick=printAction xtraClass1='print' inList=1 %}
{% endif %}
</ul></nav>
