{% comment %}
This script produces an input area for calculator panels.
{% endcomment %}
{% assign fieldID = include.fieldID | default: 'panel-1.1' %}
{% assign id = include.id | default: 'myId' %}
{% assign H2 = include.H2 | default: '' %}
{% assign radioIDs = include.radioIDs | default: 'radioIDs' %}
{% assign radioLabels = include.radioLabels | default: 'radioLabels' %}
{% assign name = include.name | default: id %}
{% assign dataFormat = include.dataFormat | default: '' %}
{% assign dataFormatClass = "input-symbol-left" %}
{% if dataFormat == '%' %}{% assign dataFormatClass = "input-symbol-right" %}{% endif %}
{% assign inputType = include.inputType | default: 'number' %}
{% assign selectList = include.selectList | default: 10 %}
{% assign value = include.value | default: '' %}
{% assign min = include.min | default: 0 %}
{% assign max = include.max | default: 10000000 %}
{% assign step = include.step | default: "0.01" %}
{% assign placeholder = include.placeholder | default: '' %}
{% assign maxLength = include.maxLength | default: 11 %}
{% assign inputClass = include.inputClass | default: "format-left" %}
{% assign prompt = include.prompt | default: 'What goes in this box?' %}
{% assign explanation = include.explanation | default: '' %}
{% assign onBlur = include.onBlur | default: '' %}
{% if onBlur != '' %}
{% assign onBlur = 'onBlur="' | append: onBlur | append: '" onChange="' | append: onBlur | append: '"' %}
{% endif %}
{% assign outerDivID = include.outerDivID | default: '' %}
{% if outerDivID != '' %}
{% assign outerDivID = 'id="' | append: outerDivID | append: '"' %}
{% endif %}
{% assign dontOpenOuterDiv = include.dontOpenOuterDiv | default: false %}
{% assign dontCloseOuterDiv = include.dontCloseOuterDiv | default: false %}
{% if dontOpenOuterDiv %}{% assign dontCloseOuterDiv = true %}{% endif %}
{% unless dontOpenOuterDiv %}<div {{outerDivID}} class="panel-form-field" >{% endunless %}
  {% if H2 != '' %}<h2>{{H2}}</h2>{% endif %}
  {% if inputType != 'none' %}
  <div id="{{id}}-div" class="">
    {% if inputType != 'radio' %}
    <label class="" id="{{id}}-label" for="{{id}}" aria-details="{{fieldID}}">{{prompt}}</label>
    <span class="usa-input-error-message" id="{{id}}-error-message" role="alert"></span>
    {% endif %}
    {% if dataFormat != '' %}<span data-format="{{dataFormat}}" class="{{dataFormatClass}}">{%endif%}
    {% if inputType == 'number' %}
      <input id="{{id}}" name="{{name}}" class="{{inputClass}}" type="number" {{onBlur}}
        value="{{value}}" min="{{min}}" max="{{max}}" step="{{step}}" placeholder="{{placeholder}}" />
    {% endif %}
    {% if inputType == 'text' %}
      <input id="{{id}}" name="{{name}}" class="{{inputClass}}" type="text" {{onBlur}}
        value="{{value}}" maxLength="{{maxLength}}" placeholder="{{placeholder}}" />
    {% endif %}
    {% if inputType == 'no-select' or inputType == 'select' %}
    <select class="{{inputClass}}" id="{{id}}" name="{{name}}">
      {% assign value = value | plus: 0 %}
      {% if inputType == 'select' %}<option value="select">--- Select One ---</option>{% endif %}
      {% for i in (min..max) %}
      {% if i == value %}{% assign selected = 'selected' %}{% else %}{% assign selected = '' %}{% endif %}
      <option value="{{i}}" {{ selected }}>{{i}}</option>
      {% endfor %}
    </select>
    {% endif %}
    {% if inputType == 'selectList' %}
      <select class="{{inputClass}}" id="{{id}}" name="{{name}}" {{onBlur}}>
      {% assign ids = radioIDs | split: ',' %}
      {% assign labels = radioLabels | split: ',' %}
      {% assign loops = ids.size | minus: 1 %}
      {% assign cur = ids[i] | strip %}
      {% for i in (0..loops) %}{% assign cur = ids[i] | strip %}{% if cur == value %}{% assign selected = 'selected' %}{% else %}{% assign selected = '' %}{% endif %}
        <option value="{{cur}}" {{ selected }}>{{labels[i] | strip}}</option>
      {% endfor %}
      </select>
    {% endif %}
    {% if inputType == 'radio' %}
      <fieldset>
      <legend  id="{{id}}-label" aria-details="{{fieldID}}">{{prompt}}</legend>
      <span class="usa-input-error-message" id="{{id}}-error-message" role="alert"></span>
      <ul class="usa-unstyled-list">
      {% assign ids = radioIDs | split: ',' %}
      {% assign labels = radioLabels | split: ',' %}
      {% assign loops = ids.size | minus: 1 %}
      {% for i in (0..loops) %}
        <li>
        <input id="{{ids[i] | strip}}" type="radio" name="{{id}}" value="{{ids[i] | strip}}" {{onBlur}}>
        <label for="{{ids[i] | strip}}">{{labels[i] | strip}}</label>
        </li>
      {% endfor %}
      </ul>
      </fieldset>
    {% endif %}
    {% if dataFormat != '' %}</span>{%endif%}
  </div>
  {% endif %}{% comment %}end of inputType block{% endcomment %}
  {% if explanation != '' %}
  <ul class="usa-accordion explain-this">
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="{{fieldID}}">Explain this</button>
    <div id="{{fieldID}}" class="usa-accordion-content">
    {{explanation | markdownify }}
    </div>
  </li>
  </ul>
  {% endif %}
{% unless dontCloseOuterDiv %}</div><!---->{% endunless %}
