{% comment %}
This script produces an input area for calculator panels.
{% endcomment %}
{% assign fieldID = include.fieldID | default: 'panel-1.1' %}
{% assign id = include.id | default: 'myId' %}
{% assign name = include.name | default: id %}
{% assign dataFormat = include.dataFormat | default: '' %}
{% assign inputType = include.inputType | default: 'number' %}
{% assign selectList = include.selectList | default: 10 %}
{% assign value = include.value | default: '' %}
{% assign min = include.min | default: 0 %}
{% assign max = include.max | default: 10000000 %}
{% assign step = include.step | default: "0.01" %}
{% assign placeholder = include.placeholder | default: '' %}
{% assign maxLength = include.maxLength | default: 11 %}
{% assign inputClass = include.inputClass | default: "format-left" %}
{% assign prompt = include.prompt | default: 'What goes in this box?' %}
{% assign explanation = include.explanation | default: '' %}
{% assign onBlur = include.onBlur | default: '' %}
{% if onBlur != '' %}
{% assign onBlur = 'onBlur="' | append: onBlur | append: '" onChange="' | append: onBlur | append: '"' %}
{% endif %}
<div class="panel-form-field" >
  <div id="{{id}}-div" class="">
    <label class="" id="{{id}}-label" for="{{id}}" aria-details="{{fieldID}}">{{prompt}}</label>
    <span class="usa-input-error-message" id="{{id}}-error-message" role="alert"></span>
    {% if dataFormat != '' %}<span data-format="{{dataFormat}}" class="input-symbol-left">{%endif%}
    {% if inputType == 'number' %}
      <input id="{{id}}" name="{{name}}" class="{{inputClass}}" type="number" {{onBlur}}
        value="{{value}}" min="{{min}}" max="{{max}}" step="{{step}}" placeholder="{{placeholder}}" />
    {% endif %}
    {% if inputType == 'text' %}
      <input id="{{id}}" name="{{name}}" class="{{inputClass}}" type="text" {{onBlur}}
        value="{{value}}" maxLength="{{maxLength}}" placeholder="{{placeholder}}" />
    {% endif %}
    {% if inputType == 'no-select' or inputType == 'select' %}
    <select class="{{inputClass}}" id="{{id}}" name="{{name}}">
      {% assign value = value | plus: 0 %}
      {% if inputType == 'select' %}<option value="select">--- Select One ---</option>{% endif %}
      {% for i in (min..max) %}
      {% if i == value %}{% assign selected = 'selected' %}{% else %}{% assign selected = '' %}{% endif %}
      <option value="{{i}}" {{ selected }}>{{i}}</option>
      {% endfor %}
    </select>
    {% endif %}
    {% if dataFormat != '' %}</span>{%endif%}
  </div>
  {% if explanation != '' %}
  <ul class="usa-accordion">
  <li>
    <button class="usa-accordion-button" aria-expanded="false" aria-controls="{{fieldID}}">Explain this</button>
    <div id="{{fieldID}}" class="usa-accordion-content">
    {{explanation}}
    </div>
  </li>
  </ul>
  {% endif %}
</div> <!---->
