


<div class="before-you-invest-tool">
  <!-- STEP 1 -->
  <div class="step1" id="step1">
    <h3 class="step-title"><span>1.</span> First, let's see how many years you have to invest. Time impacts your ability to save for retirement.</h3>
    <p><label for="your-age">What year were you born?</label>
    <input id="your-age" name="retire-age" type="text" onchange="calculate()"></p>
    <p><button onclick="showStep3()" class="usa-btn-primary">Find my funds</button></p>
  </div>
  <!-- STEP 2 -->
  <div class="step2" id="step2" style="display:none;">
      <h3 class="step-title"><span>2.</span> OK, let's see how many years you have to invest. Time impacts your ability to save for retirement.</h3>
      <p><label for="your-age">Age</label>
      <input id="your-age" name="retire-age" type="text" onchange="calculate()"></p>
  <p> <label for="retire-age">Age you plan to retire</label>
    <input id="retire-age" name="retire-age" type="text" onchange="calculate()">
  </p>
      <p>You have <input id="years-to-invest" name="years-to-invest" type="text"> years to invest.</p>
      <button onclick="showStep3()" class="usa-btn-primary">Find my funds</button>

  </div>
  <!-- STEP 3 -->
  <div class="step3" id="step3" style="display:block;">
    <h3 class="step-title"><span>2.</span> Great! Now review the funds ideally suited for your time horizon</h3>
    <div class="usa-grid-full">
      <div class="usa-width-one-third">
        <div class="usa-alert">
          <div class="usa-alert-body">
            <div class="usa-alert-heading">
              <h4>L 2030</h4>
              </div>
              <img src="/assets/img/icons/pie-chart.svg"/>
              <ul>
                <li>You get anxious with every dip in the market</li>
                <li>You place higherpriority on stability and less risk</li>
                <li>You place less priority on significant long-term growth</li>
              </ul> <button onclick="showStep2()" class="usa-btn-primary">More</button>
          </div>
        </div>
      </div>
      <div class="usa-width-one-third success">
        <div class="usa-alert success">
          <div class="usa-alert-body">
            <div class="usa-alert-heading">
              <h4>L 2040</h4>
              </div>
              <img src="/assets/img/icons/pie-chart.svg"/>
              <ul>
                <li>You prefer a low maintenance way of investing money</li>
                <li>You prefer a diversified mix of funds in your portfolio</li>
                <li>You would like to set-it and forget-it</li>
              </ul> <button onclick="showStep2()" class="usa-btn-primary">More</button>
          </div>
        </div>
      </div>
      <div class="usa-width-one-third">
        <div class="usa-alert">
          <div class="usa-alert-body">
            <div class="usa-alert-heading">
              <h4>L 2050</h4>
              </div>
              <img src="/assets/img/icons/pie-chart.svg"/>
              <ul>
                <li>You're willing to tolerate ups and downs in your account</li>
                <li>You have more time to let your money ride out the market waves</li>
                <li>You place higher priority on achieving long-term growth</li>
              </ul> <button onclick="showStep2()" class="usa-btn-primary">More</button>
          </div>
        </div>
      </div>
    </div>

    <div class="usa-alert usa-alert-info" >
    <div class="usa-alert-body best">
      <p class="usa-alert-text usa-font-lead">Based on the year you were born L 2040 is a good choice for you because you have time.</p>
    </div>

  </div>



</div>



<script>

function showStep2() {
  document.getElementById('step2').style.display = "block";
  var loc = document.location.toString().split('#')[0];
  document.location = loc + '#step2';
  return false;
}
function showStep3() {
   document.getElementById('step3').style.display = "block";
   var loc = document.location.toString().split('#')[0];
   document.location = loc + '#step3';
   return false;
}

function calculate() {
  var age = parseInt(document.getElementById('your-age').value);
  var retireAge = parseInt(document.getElementById('retire-age').value);
  var yrsToInvest = document.getElementById('years-to-invest');
  if (!age) { age = 0; }
  if (!retireAge) { retireAge = age; }
  yrsToInvest.value = retireAge - age;
}


var fund1 = document.getElementById('fund-1');
var fund2 = document.getElementById('fund-2');
var fund3 = document.getElementById('fund-3');

read("mousedown");
read("mousemove");
read("keydown"); // include this to also allow keyboard control

function read(evtType) {
  fund1.addEventListener(evtType, function() {
    window.requestAnimationFrame(function () {
      document.getElementById('fund-1-value').innerHTML = fund1.value;
      fund1.setAttribute("aria-valuenow", fund1.value); // include for accessibility
    });
  });
}

read2("mousedown");
read2("mousemove");
read2("keydown"); // include this to also allow keyboard control

function read2(evtType) {
  fund2.addEventListener(evtType, function() {
    window.requestAnimationFrame(function () {
      document.getElementById('fund-2-value').innerHTML = fund2.value;
      fund2.setAttribute("aria-valuenow", fund2.value); // include for accessibility
    });
  });
}

read3("mousedown");
read3("mousemove");
read3("keydown"); // include this to also allow keyboard control

function read3(evtType) {
  fund3.addEventListener(evtType, function() {
    window.requestAnimationFrame(function () {
      document.getElementById('fund-3-value').innerHTML = fund3.value;
      fund3.setAttribute("aria-valuenow", fund3.value); // include for accessibility
    });
  });
}

</script>
