{% comment %}
This script builds the tall rectangular block on the before you invest page.
{% endcomment %}
{% assign prefix = include.prefix | default: 'L' %}
{% assign fund = include.fund | default: 'XXXX' %}
{% assign one = include.one | default: 'A mix of core funds designed by our experts' %}
{% assign two = include.two | default: 'Your funds should be a mix of ...' %}
{% assign three = include.three | default: 'Your long term goal is ...' %}

<div id="{{ prefix }}{{ fund }}outer" class="usa-width-one-third">
  <div id="{{ prefix }}{{ fund }}inner" class="usa-alert">
    <div class="usa-alert-body">
      <div class="usa-alert-heading">
        <h4>{{ prefix }} {{ fund }}</h4>
      </div>
      <div id="pie-FUNDNAME" class="hc-small-pie-box">
        <img src="/assets/img/icons/pie-chart.svg" />
      </div>
      <ul>
        <li>
          <h5>What it is:</h5>{{ one }}
        </li>
        <li>
          <h5>Consider if you:</h5>{{ two }}
        </li>
        <li>
          <h5>Strategy:</h5>{{ three }}
        </li>
      </ul> <button onclick="showMore('{{ fund }}');" class="usa-btn-primary">More</button>
    </div>
  </div>
</div>
