<div class="bg-gray-light py4">
  <div class="usa-grid flex">
    <p class="m0" style="font-weight: 400;">Are you an agency or service representative? Find bulletins, announcements, training materials, and other resources in <a href="#" class="bold">Agency/Service Rep Support</a>.</p>
  </div>
</div>

<footer class="bg-gray usa-section">
    <div class="usa-grid">
      <div class="usa-width-two-thirds">
        <h2>Questions? 1-877-968-3778</h2>
        Or <a href="#">contact us</a> another way.
      </div>
      <div class="usa-width-one-third">
        <ul class="list-reset flex items-center">
          <li class="mb0 pr1"><a href="https://www.facebook.com/tsp4gov" target="_blank" 6tfclass="h5"><img src="{{ site.baseurl }}/assets/img/icons/social_fb.svg" height="32px" alt="facebook" class="mr1"></a></li>
          <li class="mb0 pr1"><a href="https://twitter.com/tsp4gov" target="_blank" class="h5"><img src="{{ site.baseurl }}/assets/img/icons/social_twitter.svg" height="23px" alt="twitter" class="mr1"></a></li>
          <li class="mb0 pr1"><a href="https://www.youtube.com/user/tsp4gov" target="_blank" class="h5"><img src="{{ site.baseurl }}/assets/img/icons/social_yt.svg" height="32px" alt="YouTube" class="mr1"></a></li>
          <li class="mb0 pr1"><a href="https://public.govdelivery.com/accounts/USTSP/subscriber/new?qsp=918" target="_blank" class="h5"><img src="{{ site.baseurl }}/assets/img/icons/social_rss.svg" height="26px" alt="rss" class="mr1"></a></li>
        </ul>
        <ul class="list-reset" style="margin-top:0;">
          <li class="mb0"><a href="#" class="h5">About the TSP</a></li>
          <li class="mb0"><a href="#" class="h5">Plain language guidelines</a></li>
          <li class="mb0"><a href="#" class="h5">Submit a FOIA request</a></li>
          <li class="mb0"><a href="#" class="h5">TSP Privacy</a></li>
        </ul>
        <p class="h5">Help us improve the site on <a href="https://github.com/" target="_blank">GitHub</a></p>
      </div>
    </div>
</footer>
