{% if page.Fund_type == 'L' or page.Fund_type == 'Retired' %}
          <div class="usa-grid-full">
            <div class="usa-width-one-whole">
              <h3>{{ page.Fund_name }} Allocation</h3>
              <div id="LfundStackedArea" class="hc-lfund-stacked-area"></div>
            </div>
          </div>
{% endif %}
{% if page.Fund_type != 'L' %}

{% if page.composition %}
          {% assign sortable = '' %}
          {% if page.composition.size > 1 %}{% assign sortable = 'sortableColumn' %}{% endif %}
          <section class="fund-tab-composition">
            <div class="usa-grid-full">
            <div class="usa-width-one-whole">
              <h3>Portfolio Weight
                {% if page.composition_update %}<span class="as-of-date">As of {{ page.composition_update }}</span>{% endif %}
              </h3>
              <table class="usa-table-borderless" id="sector-composition">
                <thead>
                  <tr>
                    <th scope="col" id="sortSector" class="{{ sortable }}">Sector</th>
                    <th scope="col" id="sortWeight" class="{{ sortable }}">
                      Portfolio Weight
                      {% if page.Fund_name == 'G Fund' %}<sup>1</sup>{% endif %}
                    </th>
                    <th scope="col">Portfolio Percentage</th>
                  </tr>
                </thead>
                <tbody>
{% assign total = 0.0 %}
{% for item in page.composition %}
  {% assign total = total | plus: item[1]] %}
                <tr>
                  <th scope="row" class="sortSector">{{ item[0]] }}</th>
                  <td class="sortWeight">{{ item[1]] }}%</td>
                  <td><div id="composition-pie-{{forloop.index}}" class="hc-composition-pie"><div></td>
                </tr>
{% endfor %}
                {% if page.composition.size > 1 %}
                <tr>
                  <th scope="row">
                    <b>Total</b>
                    <sup>1</sup>
                  </th>
                  <td><b>{{ total }}%</b></td>
                  <td><!-- <div id="composition-pie-0" class="hc-composition-pie"><div> --></td>
                </tr>
                {% endif %}
                </tbody>
              </table>
{% if page.Fund_name == 'G Fund' %}
              <ol id="footnotes">
                <li>By law, the G Fund must be invested in nonmarketable U.S. Treasury securities specially issued to the TSP.
                  </li>
                </ol>
{% else %}
              {% if page.composition.size > 1 %}
              <ol id="footnotes">
                <li>Due to rounding, numbers may not add up to exactly 100%.</li>
              </ol>
              {% endif %}
{% endif %}
            </div> <!-- end div.usa-width-one-whole -->
          </div> <!-- end div.usa-grid-full -->
          </section>
{% endif %}

{% if page.country_composition %}
      {% assign sortable = '' %}
      {% if page.country_composition.size > 1 %}{% assign sortable = 'sortableColumn' %}{% endif %}
      <section class="fund-tab-composition">
      <div class="usa-grid-full">
        <div class="usa-width-one-whole">
          <h3>Portfolio Weight
            {% if page.composition_update %}<span class="as-of-date">As of {{ page.composition_update }}</span>{% endif %}
          </h3>
          <table class="usa-table-borderless" id="country-composition">
            <thead>
              <tr>
                <th scope="col" id="sortCountry" class="{{ sortable }}">Country</th>
                <th scope="col" id="sortHoldings" class="{{ sortable }}">Percent of Holdings*</th>
                <th scope="col">Portfolio Percentage</th>
                <th scope="col" id="sortCount" class="{{ sortable }}">Number of Companies</th>
              </tr>
            </thead>
            <tbody>
{% assign totalPH = 0.0 %}
{% assign totalNC = 0 %}
  {% for item in page.country_composition %}
  {% assign totalPH = totalPH | plus: item[1] %}
  {% assign totalNC = totalNC | plus: item[2] %}
              <tr>
                <td scope="row" class="sortCountry">{{item[0]}}</td>
                <td class="sortHoldings">{{item[1]}}%</td>
                <td><div id="composition-pie-0-{{forloop.index}}" class="hc-composition-pie"><div></td>
                <td class="sortCount">{{item[2]}}</td>
              </tr>
  {% endfor %}
              <tr>
                <th scope="row">
                  <b>Total</b>
                  <sup>1</sup>
                </th>
                <th><b>{{totalPH}}%</b></th>
                <th><!-- <div id="composition-pie-0-0" class="hc-composition-pie"><div> --></th>
                <th><b>{{totalNC}}</b></th>
              </tr>
            </tbody>
          </table>
          <ol id="footnotes">
            <li>Due to rounding, numbers may not add up to exactly 100%.</li>
          </ol>
        </div>
      </div>
      </section>
{% endif %}

{% endif %}

<script>
function doCompositionPies() {
{% for item in page.composition %}
  compositionPie('composition-pie-{{forloop.index}}', {{ item[1] }});
{% endfor %}
  // compositionPie('composition-pie-0', {{ total }});

  {% assign totalPH = 0.0 %}
  {% for item in page.country_composition %}
  {% assign totalPH = totalPH | plus: item[1] %}
  compositionPie('composition-pie-0-{{forloop.index}}', {{ item[1] }});
  {% endfor %}
  // compositionPie('composition-pie-0-0', {{ totalPH }});
}

function toggleSort(me) {
  var myId = me.id;
  var tableId = 'sector-composition';
  var isSortedAsc = $('#'+myId).hasClass('sort-column-asc');
  $('.sortableColumn').removeClass('sort-column-asc');
  $('.sortableColumn').removeClass('sort-column-desc');
  if (isSortedAsc) {
    columnSort(false, myId, me.closest('table').id, 0, 1);
    $('#'+myId).addClass('sort-column-desc');
  } else {
    columnSort(true, myId, me.closest('table').id, 0, 1);
    $('#'+myId).addClass('sort-column-asc');
  }
  return false;
}

function toggleSort1(me) {  // first version, 2 states
  var myId = me.id;
  var tableId = 'sector-composition';
  if ($('#'+myId).hasClass('sort-column-asc')) {
    columnSort(true, myId, me.closest('table').id, 0, 1);
    $('#'+myId).removeClass('sort-column-asc');
    $('#'+myId).addClass('sort-column-desc');
  } else {
    columnSort(false, myId, me.closest('table').id, 0, 1);
    $('#'+myId).removeClass('sort-column-desc');
    $('#'+myId).addClass('sort-column-asc');
  }
  return false;
}
</script>
