{% if page.Fund_type == 'L' %}
          <div class="usa-grid-full">
            <div class="usa-width-one-whole">
              <h3>{{ page.Fund_name }} Allocation</h3>
              <div id="LfundStackedArea" class="hc-lfund-stacked-area"></div>
            </div>
          </div>
{% endif %}
{% if page.Fund_type != 'L' %}

{% if page.composition %}
          <div class="usa-grid-full">
            <div class="usa-width-one-whole">
              <h3>Portfolio Weight
                {% if page.composition-update %}<span class="as-of-date">As of {{ page.composition-update }}</span>{% endif %}
              </h3>
              <table class="usa-table-borderless" id="sector-composition">
                <thead>
                  <tr>
                    <th scope="col" class="sortSector">
                      <a href="javascript:columnSort(false, 'sortSector', 'sector-composition', 1);">^</a>
                      Sector
                      <a href="javascript:columnSort(true, 'sortSector', 'sector-composition', 1);">v</a>
                    </th>
                    <th scope="col" class="sortWeight">
                      <a href="javascript:columnSort(false, 'sortWeight', 'sector-composition', 1);">^</a>
                      Portfolio Weight*
                      <a href="javascript:columnSort(true, 'sortWeight', 'sector-composition', 1);">v</a>
                    </th>
                    <th scope="col">Portfolio Percentage</th>
                  </tr>
                </thead>
                <tbody>
{% assign total = 0.0 %}
{% for item in page.composition %}
  {% assign total = total | plus: item[1]] %}
                <tr>
                  <th scope="row" class="sortSector">{{ item[0]] }}</th>
                  <td class="sortWeight">{{ item[1]] }}%</td>
                  <td><div id="composition-pie-{{forloop.index}}" class="hc-composition-pie"><div></td>
                </tr>
{% endfor %}
                <tr>
                  <th scope="row"><b>Total</b></th>
                  <td><b>{{ total }}%</b></td>
                  <td><!-- <div id="composition-pie-0" class="hc-composition-pie"><div> --></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          {% if page.composition.size > 1 %}
          <p>* Due to rounding, numbers may not add up to exactly 100%.</p>
          {% endif %}
{% endif %}

{% if page.country_composition %}
      <div class="usa-grid-full">
        <div class="usa-width-one-whole">
          <h3>Portfolio Weight
            {% if page.composition-update %}<span class="as-of-date">As of {{ page.composition-update }}</span>{% endif %}
          </h3>
          <table class="usa-table-borderless" id="country-composition">
            <thead>
              <tr>
                <th scope="col" class="sortCountry">
                  <a href="javascript:columnSort(false, 'sortCountry', 'country-composition', 1);">^</a>
                  Country
                  <a href="javascript:columnSort(true, 'sortCountry', 'country-composition', 1);">v</a>
                </th>
                <th scope="col" class="sortHoldings">
                  <a href="javascript:columnSort(false, 'sortHoldings', 'country-composition', 1);">^</a>
                  Percent of Holdings*
                  <a href="javascript:columnSort(true, 'sortHoldings', 'country-composition', 1);">v</a>
                </th>
                <th scope="col">Portfolio Percentage</th>
                <th scope="col" class="sortCount">
                  <a href="javascript:columnSort(false, 'sortCount', 'country-composition', 1);">^</a>
                  Number of Companies
                  <a href="javascript:columnSort(true, 'sortCount', 'country-composition', 1);">v</a>
                </th>
              </tr>
            </thead>
            <tbody>
{% assign totalPH = 0.0 %}
{% assign totalNC = 0 %}
  {% for item in page.country_composition %}
  {% assign totalPH = totalPH | plus: item[1] %}
  {% assign totalNC = totalNC | plus: item[2] %}
              <tr>
                <td scope="row" class="sortCountry">{{item[0]}}</td>
                <td class="sortHoldings">{{item[1]}}%</td>
                <td><div id="composition-pie-0-{{forloop.index}}" class="hc-composition-pie"><div></td>
                <td class="sortCount">{{item[2]}}</td>
              </tr>
  {% endfor %}
              <tr>
                <th scope="row"><b>Total</b></th>
                <th><b>{{totalPH}}%</b></th>
                <th><!-- <div id="composition-pie-0-0" class="hc-composition-pie"><div> --></th>
                <th><b>{{totalNC}}</b></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p> Source: BlackRock
        <br>* Due to rounding, numbers may not add up to exactly 100%.</p>
{% else %}
<p>Put something here about this fund being 100% US investment.</p>
{% endif %}

{% endif %}

<script>
function doCompositionPies() {
{% for item in page.composition %}
  compositionPie('composition-pie-{{forloop.index}}', {{ item[1] }});
{% endfor %}
  // compositionPie('composition-pie-0', {{ total }});

  {% assign totalPH = 0.0 %}
  {% for item in page.country_composition %}
  {% assign totalPH = totalPH | plus: item[1] %}
  compositionPie('composition-pie-0-{{forloop.index}}', {{ item[1] }});
  {% endfor %}
  // compositionPie('composition-pie-0-0', {{ totalPH }});
}
</script>
