<div class="fund-comparison-tool">
<h2>Let’s decide on a simple investor profile. If you know already, skip this step</h2>
<form>
  <p> I consider myself risk <label class="usa-sr-only" for="options">Risk type</label>
  <select name="options" id="options">
    <option value>- Select -</option>
    <option value="value1">Option A</option>
    <option value="value2">Option B</option>
    <option value="value3">Option C</option>
  </select> and I expect to retire in <label class="usa-sr-only" for="options">Years</label>
  <select name="options" id="options">
    <option value>- Select -</option>
    <option value="value1">Option A</option>
    <option value="value2">Option B</option>
    <option value="value3">Option C</option>
  </select>
years.
 I'm happy with <label class="usa-sr-only" for="options">type of returns</label>
  <select name="options" id="options">
    <option value>- Select -</option>
    <option value="value1">Option A</option>
    <option value="value2">Option B</option>
    <option value="value3">Option C</option>
  </select>
returns.
  </p>
</form>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
<p class="usa-alert-text">You are a _______________ investor, and the best funds for your investment profile are highlighted below. Let's take a look.</p>
</div>
</div>


<ul class="usa-accordion usa-tabs">
  <li>
    <button class="usa-accordion-button"
      aria-expanded="true"
      aria-controls="a1">
      ROR (YTD)
    </button>
    <div id="a1" class="usa-accordion-content">
      <div class="flex-container" id="fund-listing">
      {% for fund in site.funds %}
      <input type="checkbox" id="show-{{ fund.Fund_letter | downcase }}-fund" />
      <label for="show-{{ fund.Fund_letter | downcase }}-fund">
      <div class="flex-item fund-item fund-item-inactive visible" id="{{ fund.Fund_letter }}-fund">
      <div class="fund-header">
      <span>{{ fund.Fund_letter }}</span>
      {{ fund.Fund_subtitle }}
        </div>
          <div class="fund-content">
        <p>1-Yr <b>{{ fund.avg_annual_returns.one_yr }}</b></p>
        <p>3-Yrs <b>{{ fund.avg_annual_returns.three_yr }}</b></p>
        <p>5-Yrs <b>{{ fund.avg_annual_returns.five_yr }}</b></p>
        <p>10-Yrs <b>{{ fund.avg_annual_returns.ten_yr }}</b></p>
        <p>Inception <b>{{ fund.avg_annual_returns.inception }}</b></p>
      </div>
    </div>
      </label>
        {% endfor %}
      </div>
    </div>
  </li><li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="a2">
      Summary
    </button>
    <div id="a2" class="usa-accordion-content">
      <div class="flex-container" id="fund-listing">
      {% for fund in site.funds %}
      <input type="checkbox" id="show-{{ fund.Fund_letter | downcase }}-fund" />
      <label for="show-{{ fund.Fund_letter | downcase }}-fund">
      <div class="flex-item fund-item fund-item-inactive visible" id="{{ fund.Fund_letter }}-fund">
      <div class="fund-header">
      <span>{{ fund.Fund_letter }}</span>
      {{ fund.Fund_subtitle }}
        </div>
          <div class="fund-content">
            <div class="fund-summary-details">
                <p><b>Assets</b><br>
                {{ fund.summary_details.assets }}
              </p>
              <p><b>Net admin expense</b><br>
                {{ fund.summary_details.admin_expense }}
              </p>
              <p><b>Other expense</b><br>
                {{ fund.summary_details.other_expense }}
              </p>
                <p><b>Benchmark index</b><br>
                  {{ fund.summary_details.benchmark_index }}
                </p>
                <p><b>Asset manager</b><br>
                {{ fund.summary_details.asset_manager }}
              </p>
            </div>
      </div>
    </div>
      </label>
        {% endfor %}
      </div>
    </div>
  </li><li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="a3">
      Risks
    </button>
    <div id="a3" class="usa-accordion-content">
      <div class="flex-container" id="fund-listing">
      {% for fund in site.funds %}
      <input type="checkbox" id="show-{{ fund.Fund_letter | downcase }}-fund" />
      <label for="show-{{ fund.Fund_letter | downcase }}-fund">
      <div class="flex-item fund-item fund-item-inactive visible" id="{{ fund.Fund_letter }}-fund">
      <div class="fund-header">
      <span>{{ fund.Fund_letter }}</span>
      {{ fund.Fund_subtitle }}
        </div>
        <div class="fund-content">
        <p>{{ fund.risks | markdownify }}</p>
      </div>
    </div>
      </label>
        {% endfor %}
      </div>
    </div>
  </li><li>
    <button class="usa-accordion-button"
      aria-expanded="false"
      aria-controls="a4">
      Rewards
    </button>
    <div id="a4" class="usa-accordion-content">
      <div class="flex-container" id="fund-listing">
      {% for fund in site.funds %}
      <input type="checkbox" id="show-{{ fund.Fund_letter | downcase }}-fund" />
      <label for="show-{{ fund.Fund_letter | downcase }}-fund">
      <div class="flex-item fund-item fund-item-inactive visible" id="{{ fund.Fund_letter }}-fund">
      <div class="fund-header">
      <span>{{ fund.Fund_letter }}</span>
      {{ fund.Fund_subtitle }}
        </div>
        <div class="fund-content">
        <p>{{ fund.rewards | markdownify }}</p>
        </div>
      </div>
      </label>
        {% endfor %}
      </div>
    </div>
  </li>
</ul>
</div>
