<!-- 18F glossary code -->
  <div id="glossary" class="glossary" aria-describedby="glossary-result" aria-hidden="true">
    <button
        title="Close glossary"
        class="button button--close--inverse toggle js-glossary-close" tabindex="0">
        <span class="u-visually-hidden">Hide glossary</span>
    </button>
    <h2>Glossary</h2>
    <label for="glossary-search" class="label">Search terms</label>
    <input id="glossary-search" class="js-glossary-search" type="search" tabindex="0">
    <span class="t-note t-sans search__example">Examples: receipt; Hybrid PAC</span>
    <div class="glossary__content" id="glossary-result">
      <ul class="js-glossary-list"></ul>
    </div>
  </div>
