<form id="login-panel" class="login fadeOut" method="dialog"> <a href="javascript:void(0)" class="login-toggle">[ Close ]</a>
  <fieldset>
    <!-- <legend class="usa-drop_text">Sign in</legend>
<span>or <a href="javascript:void(0);">create an account</a></span> --><label for="username">Username or account number</label> <input id="password-sign-in" name="password" type="password">
    <!-- <input id="username" name="username" type="text" autocapitalize="off" autocorrect="off"> -->
    <p class="usa-form-note"> <a title="Show username or account number" href="javascript:void(0);" class="usa-show_password" aria-controls="password-sign-in">Show username or account number</a> </p> <label for="password-sign-in">Password</label> <input id="password-sign-in" name="password"
      type="password"> <input type="submit" value="Login">
    <p><a href="javascript:void(0);" title="Help if you forget your username">
Forgot username?</a></p>
    <p><a href="javascript:void(0);" title="Help if you forget your password">
Forgot password?</a></p>
    <p><a class="protect" href="javascript:void(0);" title="Safety tips for protecting your TSP account">
Protect your TSP account</a></p>
  </fieldset>
</form>
<!-- <button id="show">Open Dialog!</button> -->
