<form id="login-panel" class="login fadeOut" method="dialog">

  <fieldset>
    <h1>Login</h1>
    <a href="javascript:void(0)" type="button" class="login-toggle" id="login-close">×</a>
<label for="username">Username or account number</label> <input id="username" name="username" type="text" autocapitalize="off" autocorrect="off">
    <p class="usa-form-note"> <a title="Show username or account number" href="javascript:void(0);" class="usa-show_password" aria-controls="password-sign-in">Show username or account number</a> </p> <label for="password-sign-in">Password</label> <input id="password-sign-in" name="password"
      type="password"> <input type="submit" value="Login">
    <p><a href="javascript:void(0);" title="Forgot username">
Forgot username?</a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" title="Forgot password">
Forgot password?</a></p>
  </fieldset>
</form>
