<section class="footer-section">
  <div class="usa-grid">
  <div class="usa-width-two-thirds">
    <h2>Questions? 1-877-968-3778</h2>
    Find other ways to <a href="/contact/">contact us</a>.
  </div>
  <div class="usa-width-one-third">
    <ul class="list-reset flex items-center usa-unstyled-list">
      <li class="mb0 pr1"><a href="https://www.facebook.com/tsp4gov" target="_blank" class="h5"><img src="{{ site.baseurl }}/assets/img/icons/social_fb.svg" alt="Facebook" title="Facebook" class="mr1"></a></li>
      <li class="mb0 pr1"><a alt="Facebook" href="https://twitter.com/tsp4gov" target="_blank" class="h5"><img src="{{ site.baseurl }}/assets/img/icons/social_twitter.svg" alt="Twitter" title="Twitter" class="mr1"></a></li>
      <li class="mb0 pr1"><a href="https://www.youtube.com/user/tsp4gov" target="_blank" class="h5"><img src="{{ site.baseurl }}/assets/img/icons/social_yt.svg" alt="YouTube" title="YouTube" class="mr1"></a></li>
    </ul>
  </div>
  </div>
</section>
