section.usa-banner {
  background-color: #323943;
  padding: 1rem 3rem 4rem 3rem;
  .usa-banner-header {
    padding-bottom: inherit;
  }
  .usa-banner-content {
    color: #fff;
    padding: 0;
      p:first-of-type, h2 {
      margin-top: 0;
      margin-bottom: 0;
      }
      p {
        font-size: 1.8rem;
      }
  }
  .usa-banner-button[aria-expanded=true], .usa-banner-button[aria-expanded=false] {
    float: right;
  }
  .usa-banner-button[aria-expanded=true]::after, .usa-banner-button[aria-expanded=true]:hover::after, .usa-banner-button[aria-expanded=false]::after, .usa-banner-button[aria-expanded=false]:hover::after {
      background-image: url($baseurl + '/assets/img/icons/x-circle-white.svg');
      background-size: 100%;
      content: '';
      display: inline-block;
      height: 3rem;
      width: 3rem;
      margin-right: 0;
      margin-top: 0;
        .white {
            stroke: #fff;
            fill: #fff;
        }
    }
}
