
.before-you-invest-tool {
  section.step-1 { // Form appearance and errors
    input.border-bottom {
      width: auto;
      display: inline-block;
      border: none;
      border-bottom: 2px solid #dfdfdf;
      text-align: center;
    }
    .usa-input-error {
      border-left: none;
      margin-top: 3rem;
      padding-bottom: 0.8rem;
      padding-left: 1.5rem;
      padding-top: 0.8rem;
      position: relative;
      right: 1.9rem;
      input {
        border: 2px solid #cd2026;
      }
      &:after {
        font-family: $font-awesome;
        content: "\f06a";
        color: #cd2026;
      }
    }
    .usa-input-error-label {
      font-weight: inherit;
    }
    .usa-input-error-message {

    }
  }
  .highcharts-background {  // for small pie charts
      fill: #f1f1f1;
  }
  .step-title {
    font-family: $font-sans;
    font-size: 3rem;
    font-weight: 500;
    position: relative;
    padding-left: 8rem;
    margin-bottom: 3rem;

    span {
      border-bottom: 4px solid $color-primary-alt;
      display: inline-block;
      position: absolute;
      left: 0;
      padding: 0 1rem;
    }
  }

  .step2 {
    .usa-grid-full {
      display: flex;
    }

    .usa-alert {
      border-top: 0;
      padding: 0;
      height: 100%;

      h5 {
        font-family: $font-sans;
        font-size: 2rem;
        margin-bottom: 0.25rem;
      }
    }

    .usa-alert.success {
      outline: 5px solid #2e8540;
    }

    .usa-alert-body {
      padding: 1rem;
      display: block;
      text-align: center;
      height: 100%;
      padding-bottom: 6rem;

      ul {
        margin-top: 0;
        margin-left: 0;
        text-align: left;
        list-style-type: none;

        li {

          &:first-child {
            h5 {
              margin-top: 0;
            }
          }

          &:last-child {
            min-height: 15rem;
          }
        }
      }

      button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }

    .usa-alert-body.best {
      padding: 2rem 2rem 2rem 5rem;
      text-align: left;
    }

    .usa-alert-heading {
      background-color: $color-primary;
      color: $color-white;
      margin: -1rem -1rem 0;
      padding: 1rem;

      > :first-child {
        margin-top: 0;
        margin-bottom: 0;
        font-family: $font-sans;
        text-align: center;
        font-size: 2rem;
      }
    }

    .usa-grid {
      display: flex;
      justify-content: center;
    }

    // input {
    //   width: 100%;
    //   border-bottom: 0;
    //   height: auto;
    //   padding: 0;
    //   display: block;
    // }

    img {
      width: 12rem;
      margin: 2rem 0;
    }

    .fund-value-percentage {
      &:after {
        content: '%';
      }
    }

    .usa-width-one-third {
      text-align: center;

      .or-divider {
        font-size: 4rem;
        padding-top: 3rem;
      }
    }
  }

  .usa-alert-info {
    background-image: url("/assets/img/icons/sliders-white.svg");
    background-size: 4rem;
    background-color: $color-primary;
    color: $color-white;
    border-top: 0;
  }

  .results-summary {
    background-color: $color-primary;
    color: $color-white;
    border-top: 0;
    margin: 3rem 0 0;
    padding: 2rem 2rem 4rem;

    p {
      // margin-bottom: 1rem;
    }
  }
}
