button {
  &.usa-button,
  &.usa-button-big,
  &.usa-button-secondary {
    border-radius: 0;
    &.print {
      &:after {
        font-family: $font-awesome;
        content: "\f02f";
        font-weight: $light;
        padding-left: .5rem;
      }
    }

    &.calculate {
      &:after {
        font-family: $font-awesome;
        content: "\f1ec";
        font-weight: $light;
        padding-left: .5rem;

      }
    }

    &.clear {
      &:after {
        font-family: $font-awesome;
        content: "\f55a";
        font-weight: $light;
        padding-left: .5rem;
      }
    }

    &.continue {
      &:after {
        // font-family: $font-awesome;
        // content: "\f55a";
        // font-weight: $light;
        // padding-left: .5rem;
      }
    }

    &.save {
      &:after {
        font-family: $font-awesome;
        content: "\f0c7";
        font-weight: $light;
        padding-left: .5rem;
      }
    }

    &.start {
      &:after {
        // font-family: $font-awesome;
        // content: "\f144";
        // font-weight: $light;
        // padding-left: .5rem;
      }
    }

    &.previous {
      &:before {
        // font-family: $font-awesome;
        // content: "";
        // font-weight: $light;
        // padding-left: .5rem;
      }
    }
}
