button,
.usa-button {
  border-radius: 0;
  &.print {
    &:after {
      font-family: $font-awesome;
      content: "\f02f";
      font-weight: $light;
      padding-left: .5rem;
    }
  }

  &.clear {
    &:after {
      font-family: $font-awesome;
      content: "\f55a";
      font-weight: $light;
      padding-left: .5rem;
    }
  }

  &.save {
    &:after {
      font-family: $font-awesome;
      content: "\f0c7";
      font-weight: $light;
      padding-left: .5rem;
    }
  }

  &.previous {
    &:after {
      // font-family: $font-awesome;
      // content: "";
      // font-weight: $light;
      // padding-left: .5rem;
    }
  }
}
