li.show-equal {

  [type=checkbox] + label::before {
      margin-left: -3rem;
    }

  label {
    margin-top: 3rem;
    margin-left: 3rem;
  }
}




// CALCULATOR PANEL
.calculator-panel {
  border: none;
  div {
    &.panel-form-field {
      border-bottom: .2rem dotted #aeb0b5;
      background-color: #f3f4f6;
      padding: 2rem;
    }
  }
  h2,
  h4 {
    font-family: $sans;
  }
  h2 {
    margin: .5em 0;
    font-size: 2.5rem;
  }
  select {
    // width: auto;
  }
  .usa-grid {
    padding: 0;
    &.results {
      &:nth-of-type(odd) {
      background-color: #f1f1f1;
      }
    }
    // div {
    //   padding: 3rem 1.8rem;
    // }
    input, select {
      float: right;
      text-align: right;
    }
  }
  legend {
    font-size: inherit;
    // font-weight: inherit;
    cursor: default;
    // padding-top: 3rem;
    // font-style: $bold;
  }
}

// PROGRESS BAR
.usa-content {
  ol {
    &:not(.usa-accordion):not(.usa-accordion-bordered) {
      &.progstep,
      &.progtrckr {
      max-width: none;
      }
    }
  }
}

// INLINE INPUT FIELDS
ul.inline-input {
  li {
    display: flex;
    align-items: baseline;
    input,
    input:focus
     {
      width: auto;
      margin: 0 .7rem;
      // padding: 0;
      min-width: 5rem;
      text-align: center;
    }
  }

  // NUMBER FORMAT SYMBOLS ($, %)
    span[data-format] {
        // position: relative;
        // display: inline-flex;
        width: auto;
        // max-width: 46rem;
        &:before,
        &:after {
          top: 1rem;
          left: 1.8rem;
          // color: #6f707b;
          // pointer-events: none;
          // position: absolute;
          // padding: 1rem 0.7em;
          margin: 0;
        }
        &.input-symbol-left {
          // &:before {
          //   content: attr(data-format);
          //   left: 0;
          // }
          input {
            // margin: 0;
            // padding: 0;
            // padding-left: 3rem;
            text-align: left;
          }
        }
        // &.input-symbol-right {
        //   &:before {
        //     content: attr(data-format);
        //     right: 0;
        //   }
        //   input {
        //     padding-right: 3rem;
        //   }
        // }
    } // end span[data-format]
}

// ZEBRA STRIPING
div.results-grid-frame {
  border: 1px solid #aeb0b5;
  // border: 1px solid $variable?;
  .usa-grid {
    div {
    padding: 3rem 1.8rem;
    }
  }
  > div.usa-grid.results {
    &:nth-of-type(odd) {
    background-color: #f1f1f1;
    // background-color: $color-gray-lightest;
    }
  }
}

// ACCORDIONS

.calculator-panel {
  ul.usa-accordion {
    &.explain-this {
      max-width: 46rem;
      li {
        background-color: transparent;
        .usa-accordion-button {
          background-color: transparent;
          background-image: none;
          font-weight: 400;
          color: $color-primary;
          position: relative;
          line-height: 2rem;
          padding: 1.5rem 2rem;
          &:after {
            font-family: $font-awesome;
            font-weight: $light;
            font-size: 2.5rem;
            content: "\f056";
            float: right;
          }
          &[aria-expanded="false"] {
            &:after {
              content: "\f055";
            }
          }
          &:hover {
            background-color: #d6d7d9;
          }
        } // end .usa-accordion-button
        .usa-accordion-content {
          background-color: transparent;
        } // end .usa-accordion-content
      }
    }
  }
} // end .calculator-panel

// BUTTON NAV

.usa-content {
  ul {
    &.navigation-buttons {
      display: flex;
      list-style-type: none;
      max-width: none;
      margin: 2rem 0;
      padding: 0;
    }
  }
}

// RESULTS GRID (move to calculator-specifice .scss file?? )

.usa-grid {
  &.results {
  display: flex;
  align-items: center;
    // &:last-child {
    //   align-items: stretch;
    // }
    // .usa-width-two-thirds {
    //   border-right: .2rem dotted #aeb0b5;
    // }
    .usa-width-one-third {
      text-align: right;
      border-left: .2rem dotted #aeb0b5;
      border-bottom: none;
      font-size: 3rem;
      align-self: stretch;
      // line-height: 0;
      span {
        line-height: inherit;
      }
    }
  }
}

.disclaimer {
  color: $color-gray-dark;
}

@media screen and (max-width: $medium-screen) {
  .usa-grid {
    &.results {
    display: block;
      .usa-width-two-thirds {
        border-right: none;
        padding-bottom: 0;
      }
      .usa-width-one-third {
        text-align: center;
        border-bottom: .2rem dotted #aeb0b5;
        line-height: normal;
        span {
          line-height: inherit;
        }
      }
    }
  }


  div.results-grid-frame {
    > div.usa-grid.results {
      &:last-child {
        .usa-width-one-third {
          border-bottom: none;
        }
      }
    }
  }

} // end @media $medium-screen

// .deco-box {
//   .usa-grid {
//     padding: 0;
//     div {
//       padding: 3rem 1.8rem;
//     }
//   }
// }
//
// .deco-box.start {
//   .usa-grid {
//     div {
//       padding: 0;
//     }
//   }
//   .usa-grid:first-child {
//     div {
//       padding: 3rem 1rem 0 1rem;
//       }
//   }
// }

//   // zebra striping
//
// div.deco-box > div.usa-grid.results:nth-of-type(odd) {
//     background-color: $color-gray-lightest;
// }
