// CALCULATOR PANEL
.calculator-panel {
  h4 {
    font-family: $font-sans;
  }
}
.calculator-panel .float-right{
  input, select, span {
    float: right;
    text-align: right;
  }
}

// GRID
// .usa-grid .calculator {
//   padding: 3rem 0;
// }

.deco-box {
  .usa-grid {
    padding: 0;
    div {
      padding: 3rem 1.8rem;
    }
  }
}

.deco-box.start {
  .usa-grid {
    div {
      padding: 0;
    }
  }
  .usa-grid:first-child {
    div {
      padding: 3rem 1rem 0 1rem;
      }
  }
}

.usa-grid .results {
  .usa-width-three-fourths {
    border-right: .2rem dotted #aeb0b5;
  }
}
  // zebra striping

div.deco-box > div.usa-grid.results:nth-of-type(odd) {
    background-color: $color-silver;
}

// BUTTON NAV

.usa-content {
  ul#button-bar {
    max-width: none;
  }
}

// MISCELLANOUS
.dotted-line {
    border-bottom-style: dotted;
    border-width: .2rem;
    border-color: #aeb0b5;
}
// DECO BOX

.deco-box {
    background-color: #fff;
    border: .3rem solid #046b99;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    .usa-width-one-whole, ul.deco-box-inner {
      list-style: none;
      display: inline-flex;
      min-width: 50%;
      margin: 3rem 0;
    }
    .deco-box-inner {
      background-color: $color-silver;
      border: .2rem solid #046b99;
      // border-radius: 6px;
      // -webkit-border-radius: 5;
      // -moz-border-radius: 5;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      select, button {
        margin: 0;
      }

    }
    select {
      width: auto;
    }
}
