
.usa-footer-primary-section {
  padding: 3rem 0;
  @if variable-exists(primary-footer-bg) {
    background-color: $primary-footer-bg;
  }

  .usa-footer-primary-link {
    @if variable-exists(primary-footer-link) {
      color: $primary-footer-link;
    }
  }
}

.usa-footer-secondary_section {
  display: none;
  @if variable-exists(footer-bg) {
    background-color: $footer-bg;
  }
  @if variable-exists(footer-text) {
    color: $footer-text;
  }

  a {
    @if variable-exists(footer-link) {
      color: $footer-link;
    }
  }
}

.footer-section {
  padding: 3rem 0;
  background-color: #E5E1E6;
  .usa-unstyled-list li {
    display: inline-block;
    margin-right: 1rem;
  }
  h2 {
    font-family: $font-sans;
  }
}
