// section.search-results {
//   &.inline {
//     padding: 0 28rem 0 0;
//   }
// }


// SEARCH FORM ELEMENTS
section.inline-search {
  padding-bottom: 5rem;
  margin-bottom: 0;

  .search-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 2rem;

    .or {
      line-height: 1;
      font-size: 3rem;
      margin-right: 2rem;
      font-weight: $light;
      color: $color-gray;
    }
  }

  div {
    &.select {
      margin-right: 2rem;

      select {
        width: 30rem;
        border: none;
        border-bottom: 1px solid $color-gray-lighter;
        font-size: 2.4rem;
        font-family : inherit;
        padding: 0 1rem;
      }
    }
  }
  form {
    &.animated-search {
      div {
        margin: 0;
        padding: 0;
        display: inline;
      }
      input[type=text] {
        width: 50px;
        // width: 100%;
        // max-width: 100%;
        box-sizing: border-box;
        border: 1px solid $color-gray-lighter;
        background-color: white;
        background-image: url($baseurl + '/assets/uswds/img/search-outline-alt.svg');
        background-size: 2rem 2rem;
        background-position: 25px 11px;
        background-repeat: no-repeat;
        font-family: $font-sans;
        font-size: 2.4rem;
        padding: 0 2rem 0 5rem;
        height: 4.4rem;
        line-height: 1.3;
        margin: 0.2em 0;
        -webkit-transition: width 0.4s ease; /* Safari and Chrome */
        transition: width 0.4s ease;
        &::placeholder {
          // text-align: center;
          padding-left: .7rem;
        }
      }
      input[type=text]:focus {
        width: 52rem;
        border: 2px solid green;
      }
    }
  } // end form
} // end section.search-forms

// NUMBER FORMAT SYMBOLS ($, %)
  span[data-format] {
      position: relative;
      display: inline-flex;
      width: 100%;
      max-width: 46rem;
      align-items: center;
      &:before,
      &:after {
        color: #6f707b;
        pointer-events: none;
        position: absolute;
        // padding: 1rem 0.7em;
        // margin: 0.2em 0;
        // top: 1.4rem;
      }
      &.input-symbol-left {
        &:before {
          content: attr(data-format);
          left: 1.4rem;
        }
        input {
          padding-left: 3rem;
        }
      }
      &.input-symbol-right {
        &:before {
          content: attr(data-format);
          right: 1.4rem;
        }
        input {
          padding-right: 3rem;
          text-align: right;
        }
      }
  } // end span[data-format]

// ERROR HANDLING

input {
  &.border-bottom { // non-calculator forms
    border: none;
    border-bottom: 2px solid #dfdfdf;
  }
  &:focus {
    border-bottom: 3px solid $color-primary;
  }
}

div.usa-input-error {
  input {
    border: 3px solid $color-error;
    // &:focus {
    //   border: 3px solid $color-error;
    // }
  }
}

// Warning HANDLING
/*
div.usa-input-error {
  &.warning {
    border-left: 4px solid $color-gold;
    background-color: $color-gold-lightest;

    .usa-input-error-message {
      color: $color-base;
      font-style: italic;
      font-weight: $normal;
    }

    input {
      border: 3px solid $color-gold;
      // &:focus {
      //   border: 3px solid $color-error;
      // }
    }
  }
}
*/

div.usa-input-warning:not(.usa-input-error) {
    border-left: 4px solid $color-gold;
    background-color: $color-gold-lightest;
    margin-top: 3rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    padding-top: 0.8rem;
    position: relative;
    right: 1.9rem;

    label {
      margin-top: 0;

      &.usa-input-warning-label {
        display: block;
        font-size: 1.7rem;
        font-weight: $bold;
      }
    }

    .usa-input-warning-message {
      color: $color-base;
      display: block;
      font-size: 1.7rem;
      font-weight: $normal;
      font-style: italic;
      padding-bottom: 3px;
      padding-top: 3px;
    }

    input {
      border: 3px solid $color-gold;
    }
}

// FORMS & RESOURCES

input {
  .border-bottom {
  width: auto;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #dfdfdf;
  text-align: center;
  }
}
fieldset {
  margin: 0;
  padding: 0;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
}
h1#forms {
  // width: 50rem;
  // height: 13.6rem;
  font-family: $font-sans;
  font-size: 5rem;
  color: #323a45;
  // text-decoration: none solid rgb(50, 58, 69);
  // line-height: 68px;
  font-weight: 400;
  max-width: 18ch;
}
h2.most-popular, h2.results {
  font-family: $font-sans;
  font-weight: $light;
  // width: 302px;
  // height: 45px;
  font-size: 3.6rem;
  color: #323a45;
  text-align: center;
  padding: 5rem 0;
  margin: 0;
  // margin: 3rem 0 5rem 0;
}
h2.results {
  text-align: left;
  // padding: 1rem 0;
}

.redbg {
  background-color: red;
}
.form-civilian {
  background-color: none;
}
.form-uniformed {
  background-color: none;
  i {
    position: absolute;
    color: $color-gray-dark;
    font-size: 2.75rem;
    top: 5px;
    right: 5px;
    font-size: 5rem;
  }
}
.form-both {
  background-color: none;
}
.form-bpa {
  background-color: none;
}

.see-more {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3rem;
  color: $color-aqua;
  font-weight: $medium;
  padding: 0;
  min-height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $color-aqua;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  span {
    &::before {
    font-family: "Font Awesome 5 Pro";
    content: "\f055";
    padding-right: .6rem;
    }
  }
}
.see-less {
  span {
    &::before {
    content: "\f056";
    }
  }
}

section#returned-forms, section#popular-forms {
  border-top: 1px solid #e3e3e3;

  div.usa-grid-full + div.usa-grid-full {
    margin-top: 3rem;
  }
  .item-frame {
    border: 1px solid #ebebeb;
    margin-right: 9rem;
    position: relative;
    .top {
      padding: 2.4rem 5.6rem 2.4rem 1.4rem;
      min-height: 17rem;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-title {
    color: $color-aqua;
    font-size: 3.2rem;
    font-weight: $medium;
    line-height: 4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    // max-width:30rem;
    // word-wrap:break-word;
  }
  .form-number {
    // width: 300px;
    // height: 40px;
    font-size: 3.2rem;
    color: #323a45;
    text-decoration: none solid rgb(50, 58, 69);
    line-height: 4rem;

  }
  .form-description {
    margin: 0;
    background-color: #323a45;
    padding: 2.3rem 1.4rem 3.4rem 1.4rem;
    color: white;
    min-height: 25rem;
    transition: 0.6s;
    p {
      font-weight: 400;
      font-size: 2.2rem;
      color: #fffdfc;
      /* Use this form to: */
      &:first-of-type {
        font-size: 3rem;
        font-weight: $medium;
        line-height: 3.6rem;
        margin-bottom: 1rem;
      }
    }
    &:hover {
      background-color: $color-primary;
    }
    a {
      color: white;
    }
  }
} // end #returned-forms

section#returned-resources, section#popular-resources {
  border-top: 1px solid #e3e3e3;
  div.usa-grid-full + div.usa-grid-full {
    margin-top: 3rem;
  }
  div.usa-width-one-half {
    &:first-child {
      .item-frame {
        margin-right: 5rem;
        margin-left: 5rem;
      }
    }
  }
  .item-frame {
    display: flex;
    // border: 1px solid #ebebeb;
    margin-right: 5rem;
    margin-left: 2rem;
    .top {
      padding: 2rem 4rem;
      background-color: $color-primary;
      color: #fff;
      display: inherit;
      justify-content: center;
      align-items: center;
      font-size: 6rem;
      max-width: 12rem;
      min-height: 12rem;
      i {
        color: #fff;
      }
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .resource-title {
    // color: $color-aqua;
    font-size: 2rem;
    line-height: 3rem;
    padding-left: 1.2rem;
    // max-width:30rem;
    // word-wrap:break-word;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
} // end #returned-resources

section.form-search-results {
  h2.results {
    padding: 2rem 0;
  }
}


@media screen and (max-width: $medium-screen) {
    section#returned-forms, section#popular-forms {
      div.usa-grid-full + div.usa-grid-full {
        margin-top: 3rem;
      }
      .item-frame {
        margin: 6% 0;
      }
    } // end #returned-forms, #popular-forms
} // end media $medium-screen

@media screen and (min-width: $small-screen) {
  section.search-forms {
    .usa-search [type=submit], .usa-search .usa-search-submit {
      background-image: none;
      width: 6.6rem;
      font-size: 2rem;
      height: 4.4rem;
      background-image: url($baseurl + '/assets/uswds/img/search.png');
      background-image: url($baseurl + '/assets/uswds/img/search.svg');
      background-position: 50%;
      background-repeat: no-repeat;
      border-radius: 5px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin: 0;
      padding: 0;
      display: block;
      }
    .usa-search.usa-search-big [type=search] {
      width: 100%;
      float: left;
    }

  } // end .search-forms
    section#returned-forms, section#popular-forms {
      div.usa-grid-full + div.usa-grid-full {
      }
      .item-frame {
        margin: 6% 6%;
      }
    } // end #returned-forms, #popular-forms
} // end media min-width: $small-screen

@media screen and (min-width: $large-screen) {

  .usa-grid-full {
    &.results {
      .usa-width-one-whole {
        padding: 0 28rem 0 0;
      }
    }
  }
}

@media screen and (max-width: $small-screen) {
  section.search-forms {
    padding-bottom: 5rem;
    margin-bottom: 0;

    .search-container {
      display: block;
    }
    form {
      &.select {
        margin-right: 0;
        margin-bottom: 1rem;

        select {
          width: 100%;
          font-size: 2rem;
        }
      }
      &.animated-search {
        input[type=text] {
          font-size: 2rem;
        }
        input[type=text]:focus {
          width: 100%;
        }
      }
    } // end form
  }// end .search-forms
  section#returned-resources, section#popular-resources {
    border-top: 1px solid #e3e3e3;
    div.usa-grid-full + div.usa-grid-full {
      margin-top: 3rem;
    }
    div.usa-width-one-half {
      &:first-child {
        .item-frame {
          margin: 0;
          margin-bottom: 3rem;
        }
      }
    }
    .item-frame {
      display: flex;
      margin: 0;
      margin-bottom: 3rem;
      .top {
        padding: 2rem 4rem;
        background-color: $color-primary;
        color: #fff;
        display: inherit;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        max-width: 12rem;
        min-height: 12rem;
        i {
          color: #fff;
        }
      }
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
    .resource-title {
      // color: $color-aqua;
      font-size: 2rem;
      line-height: 3rem;
      padding-left: 1.2rem;
      // max-width:30rem;
      // word-wrap:break-word;
      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  } // end #returned-resources
} // end media max-width:$small-screen
