.fund-comparison-tool {
  table {
    width: 100%;
    table-layout: fixed;
    padding-left: 6rem;
  }
  thead th, td {
    background-color: inherit;
    border-top: none;
    &:first-child {
      border-left: none;
      width: auto;
    }
  }
  th {
    font-size: 2.4rem;
    font-weight: $medium;
    // line-height: 2.4rem;
    text-align: center;
    span {
      font-size: 1.6rem;
    }
    label {
      font-size: 1.2rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  tbody th {
    border-left: none;
  }
  tbody tr {
    &:last-child {
      td {
        border-bottom: none;
      }
    }
    &:first-child {
      td {
        vertical-align: text-top;
      }
    }
  }
  select {
    display:inline-block;
    width: auto;
    padding-right: 4rem;
  }
  .flex-container {
    display: flex;
  }
  .fund-item {
    color: #666;
  }
  .fund-header {
    text-align: center;
    color: #000;
    background-color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    // min-height: 20rem;
    // border-bottom: #dfdfdf 1px solid;
    span {
      font-size: 4rem;
      font-weight: $medium;
      display:block;
    }
    &:hover {
      // background-color: #323a45;
    }
  }
  .fund-content {
    text-align: center;
     p {
       padding: 1rem;
       font-size: 1.6rem;
     }
     p.numeric {
       font-size: 2.4rem;
     }
     ul.flex {
       list-style-type: none;
       padding-inline-start: 0;
       margin-block-end: 0;
       li {
         color: $color-gray-light;
         padding: 0 0.3rem;
         margin: 0;
         // font-size: 2.4rem;
       }
     }
     ul {
       &.low-risk {
         li:nth-child(-n+1) {
           color: $color-blue-medium;
         }
       }
       &.low-medium-risk {
         li:nth-child(-n+2) {
           color: $color-blue-medium;
         }
       }
       &.medium-risk {
         li:nth-child(-n+3) {
           color: $color-blue-medium;
         }
       }
       &.medium-high-risk {
         li:nth-child(-n+4) {
           color: $color-blue-medium;
         }
       }
       &.high-risk {
         li:nth-child(-n+5) {
           color: $color-blue-medium;
         }
       }
     }
     .risk-level {
       color: #000000;
       font-size: 1.2rem;
       margin-bottom: 1rem;
     }

  @media only screen and (max-width: $medium-screen ) {
       ul {
         display: none;
       }
     }
  } // END .fund-content

  .usa-accordion-content[aria-hidden="false"] {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
  [type=checkbox]+label::before {
    // display: none;
  }
  .returns-by-year {
    th {
      &:first-child {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        padding-left: 7%;
      }
    }
    p.numeric {
      margin: 0;
      padding: 0;
      font-size: 1.6rem;
      line-height: 0;
    }
  } // END .returns-by-year
} // END .fund-comparison-tool

fieldset.comparison {
  padding: 3rem;
  margin: 3rem;
  text-align: center;
}

ul#fund-comparison {
  max-width: none;
}


#ror-show-c-fund:checked,
#ror-show-s-fund:checked,
#ror-show-i-fund:checked,
#ror-show-f-fund:checked,
#ror-show-g-fund:checked,
#ror-show-l-fund:checked,
#sum-show-c-fund:checked,
#sum-show-s-fund:checked,
#sum-show-i-fund:checked,
#sum-show-f-fund:checked,
#sum-show-g-fund:checked,
#sum-show-l-fund:checked,
#risk-show-c-fund:checked,
#risk-show-s-fund:checked,
#risk-show-i-fund:checked,
#risk-show-f-fund:checked,
#risk-show-g-fund:checked,
#risk-show-l-fund:checked,
#reward-show-c-fund:checked,
#reward-show-s-fund:checked,
#reward-show-i-fund:checked,
#reward-show-f-fund:checked,
#reward-show-g-fund:checked,
#reward-show-l-fund:checked
 {
 + label {
   .fund-item {
  color: $color-base;
  background-color: #fff1d2;
}
.fund-header {
  color: #fff;
  background-color: #323a45;
}
}
}

@media only screen and (max-width: $medium-screen ) {
  fieldset.comparison {
    padding: 0;
    margin: 0;
    text-align: center;

    legend {
      max-width: 14ch;
      margin-bottom: 2rem;
    }

    [type=checkbox] + label {
      display: grid;
    }
  }

  .fund-comparison-tool {
    table {
      width: 100%;
      table-layout: fixed;
      padding-left: 6rem;
    }

    thead th, td {
      padding: 0;
    }

    th {
      font-size: 1.5rem;
      padding: 0;
    }

    .fund-content {
      p {
        padding: 1rem 0.25rem;
        &.numeric {
          text-align: center;
          font-size: 2rem;
        }
      }

      .risk-level {
        margin: 2rem 0;
      }
    }

    .returns-by-year {
      th {
        &:first-child {
          padding: 1rem 0 1rem 0.4rem;
        }
      }
      p.numeric {
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
        line-height: 0;
      }
    }

    .fund-header {
      span {
        font-size: 2rem;
      }
    }
  } // END .fund-comparison-tool
}
