// Defined in _variables

.g-fund {
  color: $color-g-fund;
}
.f-fund {
  color: $color-f-fund;
}
.c-fund {
  color: $color-c-fund;
}
.s-fund {
  color: $color-s-fund;
}
.i-fund {
  color: $color-i-fund;
}
.l-fund { color: $color-l-fund; }
.l-income, .l-income-fund {
  color: $color-l-fund;
}
.l-2020, .l2020-fund {
  color: $color-l-fund;
}
.l-2030, .l2030-fund {
  color: $color-l-fund;
}
.l-2040, .l2040-fund {
  color: $color-l-fund;
}
.l-2050, .l2050-fund {
  color: $color-l-fund;
}
.index-g { color: $color-index-g } // 90-day T-Bill Rate
.index-f, .lba-fund { color: $color-index-f } // Bloomberg Barclays U.S. Aggregate Bond Index}
.index-c, .sp500-fund { color: $color-index-c } // S&P 500
.index-s, .w4500-fund { color: $color-index-s } // Dow Jones
.index-i, .eafe-fund { color: $color-index-i } // MSCI EAFE
.index-l, .l-income-index { color: $color-index-l } // MSCI EAFE
