* {
  box-sizing: border-box;
}

.glossary {
  font-family: $font-sans;
  background-color: #212121;
  color: #fff;
  border-left: 1px solid #205493;
  max-width: 30rem;
  width: 75%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: .5rem;
  transition: right .2s;
  overflow-y: scroll;
  padding: 4rem 3rem;
  z-index: 9001;
}

.glossary[aria-hidden=true] {
  right: -30rem;
}

.glossary div[aria-hidden=true] {
  display: none !important;
}

/* .glossary button {
    -webkit-transition: background-color,.1s,color,.1s,border-color,.1s;
    -moz-transition: background-color,.1s,color,.1s,border-color,.1s;
    transition: background-color,.1s,color,.1s,border-color,.1s;
    border: 2px solid;
    border-radius: 2px;
    color: #112e51;
    display: inline-block;
    font-family: karla,sans-serif;
    font-size: 1.4rem;
    line-height: 1;
    padding: 8px 2rem;
    text-align: center;
    vertical-align: middle;
} */

.glossary .button--close--inverse {
    position: absolute;
    right: 0;
    top: 0;
}

.button--close--inverse {
    background-image: url($baseurl + "/assets/img/symbol_close.svg");
    color: #fff;
    background-color: #212121;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    height: 4rem;
    width: 4rem;
    border: none;
}

.label {
    color: inherit;
    display: block;
    font-family: $font-sans;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 0;
    text-transform: uppercase;
}
.u-visually-hidden {
    position: absolute!important;
    top: auto;
    left: -9999px!important;
}

.glossary__definition {
    font-family: $font-sans;
    letter-spacing: -.3px;
    line-height: 1.8;
    font-size: 1.5rem;
    padding: 2rem 0;
    border-bottom: 1px solid #fff;
}

.glossary__content ul, .glossary__content ol {
  padding: 0;
}

.glossary__content li {
  list-style-type: none;
}

.glossary button, .glossary button:visited {
    /* background: 0 0; */
    background-color: #212121;
    background-position: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    user-select: none;
}

.js-accordion button {
  width: 100%;
}

.accordion-trigger--expanded {
  background-color: #112e51;
}

/* Added by TSP */

/* ACCORDION FUNCTION */
.accordion__content {
    border-bottom: 1px solid #212121;
    padding: 2rem;
    font-family: karla,sans-serif;
}

.accordion--inverse .accordion__button {
    // background-image: url(data:image/svg+xml;charset=utf8, %3Csvg%20%20fill%3D%27%23ffffff%27%20width…%200%20.952.42.952.937a.945.945%200%200%201-.952.938z%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    border-color: #fff;
    color: #fff;
}

.glossary__content button {
    background-image: url($baseurl + "/assets/img/symbol-accordion-close.svg");
    background-color: #212121;
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 95% 50%;
    /* border-bottom: 1px solid #fff; */
    margin: 0 0 -1px 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -.3px;
    padding: 1rem 4rem 1rem 0;
    text-align: left;
    width: 100%;
    line-height: 1.6;
}

.glossary__content button[aria-expanded=true] {
    background-image: url($baseurl + "/assets/img/symbol-accordion-close.svg");
    background-repeat: no-repeat;

}

.glossary__content button[aria-expanded=false] {
    background-image: url($baseurl + "/assets/img/symbol-accordion-open.svg");
    background-repeat: no-repeat;
    border-bottom: 1px solid #fff;
}

.term:focus, .term-end:focus, .term:hover, .term-end:hover {
  border-bottom: 1px dashed #323c42;
  text-decoration: none;
}

.term-end {
  box-shadow: none;
  margin-right: 0.15rem;
}

.term,
.term-end,
a[data-term],
a[data-term]:visited {
  cursor: pointer;
  border-bottom: 1px dashed #323c42;
  text-decoration: none;
  &::after {
    font-family: $font-awesome;
    font-weight: $light;
    content: "\f518";
    padding-left: .4rem;
    font-size: 1.1rem;
    position: relative;
    top: -1px;
  }
}


a[data-term],
a[data-term]:visited { /* style for glossary links within glossary.js */
  color: #fff;
  border-bottom-color: #fff;
  &::after {
    padding-right: .4rem;
  }
}

.term:hover, .term:active {
    background-color: #d3d3d3;
}

.t-sans {
    font-family: karla,sans-serif;
    letter-spacing: -.3px;
}
.t-note {
    display: inline-block;
    font-family: $font-sans;
    font-weight: 400;
    font-style: italic;
    font-size: 1.4rem;
}
.search__example {
    line-height: 1.2;
    margin-top: 1rem;
}

/* FEC.GOV CSS */
// .glossary__definition {
//   a[data-term],
//   a[data-term]:visited {
//     color: #fff;
//     text-decoration: none;
//     border-bottom: 1px dashed #fff;
//     cursor: pointer;
//     &.term {
//       border-bottom: 1px dashed #fff;
//       &:hover,
//       &:active {
//         background-color: transparent;
//       }
//     }
//   }
// }
.glossary__definition ol li, .glossary__definition ul li, .list--bulleted li, .list--bulleted--alt li, .list--numbered li {
  margin-left: 2rem;
  padding: .5rem 0;
  font-size: 1.6rem
}

.glossary__definition ol li:last-child, .glossary__definition ul li:last-child, .list--bulleted li:last-child, .list--bulleted--alt li:last-child, .list--numbered li:last-child {
  margin-bottom: 1.5rem
}

.glossary__definition ol ol, .glossary__definition ol ul, .glossary__definition ul ol, .glossary__definition ul ul, .list--bulleted ol, .list--bulleted ul, .list--bulleted--alt ol, .list--bulleted--alt ul, .list--numbered ol, .list--numbered ul {
  margin-left: 1.5rem
}

.glossary__definition ol ol li:last-of-type, .glossary__definition ol ul li:last-of-type, .glossary__definition ul ol li:last-of-type, .glossary__definition ul ul li:last-of-type, .list--bulleted ol li:last-of-type, .list--bulleted ul li:last-of-type, .list--bulleted--alt ol li:last-of-type, .list--bulleted--alt ul li:last-of-type, .list--numbered ol li:last-of-type, .list--numbered ul li:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0
}

.glossary__definition ol ul li, .glossary__definition ul ul li, .list--bulleted ul li, .list--bulleted--alt ul li, .list--numbered ul li {
  list-style-type: circle
}

.glossary__definition ol ul ul li, .glossary__definition ul ul ul li, .list--bulleted ul ul li, .list--bulleted--alt ul ul li, .list--numbered ul ul li {
  list-style-type: square
}

.glossary__definition ol>li, .list--numbered>li {
  list-style-type: decimal
}

.glossary__definition ol ul, .list--numbered ul {
  margin-bottom: 0;
  margin-left: 1.5rem
}

.glossary__definition ol ul li, .list--numbered ul li {
  list-style-type: circle
}

.glossary__definition ol ol li, .list--numbered ol li {
  list-style-type: lower-alpha
}

.glossary__definition ol ol li ol li, .list--numbered ol li ol li {
  list-style-type: lower-roman
}

.glossary__definition ol ol li li, .list--numbered ol li li {
  list-style-type: decimal
}

.glossary__definition ul li, .list--bulleted li {
  list-style-type: disc
}
