a.hide {
  // display: none;
}
// DELETE a.hide after launch
.usa-logo {
  line-height: 1;

  img {
    height: 3rem;
    margin-top: .5rem;
  }
}

.usa-nav-secondary-links {
  i {
    font-size: 1.8rem;
  }
}
.usa-nav-secondary-links > li:last-child > a {
  border-radius: $border-radius;
  color: $color-white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  padding: .75rem 1.5rem;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background-color: $color-blue-darkest;
  }

  span {
    border: 0;
  }
}
section.nav-search-bar {
  form {
    &.animated-search {
      div {
        margin: 0;
        padding: 0;
        display: inline;
      }
      input[type=text] {
        width: 2.8rem;;
        // width: 100%;
        // max-width: 100%;
        box-sizing: border-box;
        border: none;
        border: none;
        background-color: white;
        background-image: url($baseurl + '/assets/uswds/img/search-outline-alt.svg');
        background-size: 2rem 2rem;
        background-position: 5px center;
        background-repeat: no-repeat;
        font-family: $font-sans;
        font-size: inherit;
        padding: 0 2rem 0 5rem;
        padding-top:0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 2rem;
        height: 4.4rem;
        line-height: 1.3;
        margin: 0;
        -webkit-transition: width 0.4s ease; /* Safari and Chrome */
        transition: width 0.4s ease;
        &::placeholder {
          // text-align: center;
          padding-left: .7rem;
        }
      }
      input[type=text]:focus {
        width: 36rem;
        border: none;
        border-bottom: 3px solid $color-primary;
        padding-left: 3.3rem;
      }
    }
  } // end form
}
@media (min-width: #{$medium-screen}) {
  .usa-logo {
    margin-left: 3rem;
  }
}

@media (min-width: #{$large-screen}) {
  .usa-logo {
    line-height: 1;
    margin-left: 0;
    width: 30%;

    img {
      height: auto;
      margin-top: auto;
    }
  }

.usa-nav-secondary {
  height: 3rem;
}

  .usa-nav-secondary-links li {
    display: inline-block;
    padding: 0 1.5rem;

    &:not(:last-child)::after {
      content: none;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .usa-nav-secondary .usa-search {
    margin-top: 0;
  }
  input[type=search] {
    transition: width 0.4s ease-in-out;
}
  input[type=text]:focus {
    width: 100%;
  }
  // .usa-nav-secondary-links > li:last-child > a {
  //   border-radius: $border-radius;
  //   color: $color-white;
  //   font-size: 1.5rem;
  //   font-weight: 700;
  //   line-height: 1;
  //   padding: .75rem 1.5rem;
  //   text-decoration: none;
  //   -webkit-font-smoothing: antialiased;
  //
  //   &:hover {
  //     background-color: $color-blue-darkest;
  //   }
  //
  //   span {
  //     border: 0;
  //   }
  // }

} // end @media $large-screen
