.usa-hero-callout.usa-section-dark {
  background-color: transparent;
  color: #fff;
  font-family: $font-sans;
  margin: 6rem 0;
  max-width: 56ch;
  padding: 3rem 3rem 3rem 0;
  p {
    font-size: 5.65rem;
    line-height: 6rem;
    margin-top: 0;
  }
  h2 {
    color: #fff;
    font-family: $font-sans;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}
