.usa-hero-callout.usa-section-dark {
  background-color: transparent;
  color: #fff;
  font-family: $font-sans;
  margin: 2.5rem 0 7.5rem 0;
  max-width: 56ch;
  padding: 0 3rem 4rem 0;
  p {
    font-size: 7.5rem;
    line-height: 8rem;
    margin-top: 0;
  }
  h2 {
    color: #fff;
    font-family: $font-sans;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}
