.hc-growth-inception {
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
}

.hc-annual-returns-bar {
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
}

.hc-lfund-stacked-area {
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
  .highcharts-crosshair-category {
      stroke-width: 5px;
      stroke: $neutral-color-100;
      stroke-opacity: 1.00;
  }
  .highcharts-plot-line {
      fill: none;
      stroke: $neutral-color-100;
      stroke-width: 2px;
  }

}

.hc-note {
  font-size: 70%;
  color: gray;
}

.hc-small-pie-box {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  // border: 1px solid black;
}

.hc-debug-pie-box {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid black;
}

.before-invest-tooltip, .l-fund-tooltip {
  .legend-title {
    display: inline-block;
    width: 105px;
    text-align: center;
    margin-bottom: 3px;
  }
  .legend-left {
    display: inline-block;
    width: 50px;
    text-align: right;
  }
  .legend-right {
    display: inline-block;
    text-align: right;
    width: 55px;
  }
}

.g-fund-color {
  color: $color-g-fund;
}
.f-fund-color {
  color: $color-f-fund;
}
.c-fund-color {
  color: $color-c-fund;
}
.s-fund-color {
  color: $color-s-fund;
}
.i-fund-color {
  color: $color-i-fund;
}
.l-income-color {
  color: $color-l-fund;
}
.l-2020-color {
  color: $color-l-fund;
}
.l-2030-color {
  color: $color-l-fund;
}
.l-2040-color {
  color: $color-l-fund;
}
.l-2050-color {
  color: $color-l-fund;
}
