.usa-grid {
  .usa-hero-callout h1 {
    font-size: 5.65rem;
    font-family: $font-sans;
    margin-top: 0;
  }
  .usa-hero-callout p {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .usa-hero-callout {
    // margin-top: 1rem;
    // margin-right: 0;
    // margin-bottom: 1rem;
    // margin-left: 0;
    margin: 6rem 0;
    color: #fff;
    max-width: 56rem;
    background-color: transparent;
    padding: 3rem 3rem 3rem 0;
  }
}

.home-getting-started .usa-grid {
  h2 {
    text-align: center;
    font-size: 3.5rem;
  }
  h2, h3, p {
    color: white;
  }
  h3 {
    font-size: 2.4rem;
    font-weight: 400;
  }
  p {
    font-size: $h5-font-size;
  }
  img {
    width: 50px;
    vertical-align: text-top;
  }
}
.usa-section-dark a {
  color: #ffffff;
  text-decoration: none;
}
.agency-service .usa-grid {
  h2 {
    text-align: center;
    font-size: 3rem;
    font-family: $font-sans;
  }
  h2, h3, p {
    text-align: center;
    color: white;
  }
  p {
    font-size: $h3-font-size;
  }
}
.tertiary-navigation .usa-grid {
  ul {
    font-size: 1.5rem;
  }
  li:first-of-type {
    font-family: $font-serif;
    font-weight: bold;
  }
}

.home-about {
  .usa-width-two-thirds {
    padding-right: $spacing-md-small;
  }
  .usa-width-one-third {

  }
}

.login {
    background-color: #fff;
    padding: 2rem 2rem;
    font-size: 1.5rem;
    margin-top: 4rem;
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
}

// New homepage styles

.usa-section-dark {
  background-color: #323a45;
}
.usa-hero {
  h1 {
    font-weight: 500;
    width: 15ch;
    line-height: 6rem;
  }
}
.section-investor {
  background-image: url('/assets/img/Woman_FeatherEdge.png');
  background-size: cover;
  padding: 22rem 0;
  color: #323a45;
  h1 {
    margin-top: 0;
    color: #323a45;
  }
  a {
    color: #323a45;
    font-size: 3rem;
    text-decoration: none;
    padding: 1rem 0;
    img {
      width: 40px;
      height: 40px;
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
}
.our-funds {
  .callout {
    background-color: #1ba7d0;
    color: #fff;
    p {
      text-align: center;
      margin:auto;
      font-size: 3rem;
      padding: 3rem 0;
    }
  }

}

.footer-nav {
  background-color: #323a45;
  color: #1ba7d0;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.text-center {
  text-align: center;
}

.fund-grid {
h3 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin-bottom: 1rem;
}
 p {margin:0;}
 .usa-width-one-third {
   margin-bottom: 8rem;
 }
 img {
   height: 25px;
    width: 25px;
    vertical-align: bottom;
    margin-left: 1rem;
 }
}
