.Alpha {
  list-style-type: upper-alpha;
}
.alpha {
  list-style-type: lower-alpha;
}
.Roman {
  list-style-type: upper-roman;
}
.roman {
  list-style-type: lower-roman;
}

// Background image list
ul.check, ul.cross, ul.alert {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3rem;
  li {
    background: url($baseurl + '/assets/img/icons/check-circle-green.svg') no-repeat left top;
    padding-left: 3.5rem;
    margin-bottom: 1.3rem;
  }
}

ul.cross {
  li {
    background: url($baseurl + '/assets/img/icons/x-circle-red.svg') no-repeat left top;
  }
}
ul.alert {
  li {
    background: url($baseurl + '/assets/img/icons/alert-circle-red.svg') no-repeat left top;
  }
}

// Inline image list
.icon-wrap { /* Parent div */
  img {
    float: left;
    margin-right: .75rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 1.3rem;
    overflow: hidden; /* this is what keep the <p> from wrapping */
  }
}
