#customize,
#how-much-you-saved,
#maximize {
  padding: 0;
  h2,
  h3 {
    text-align: center;
    font-family: $font-sans;
    font-weight: $medium;
    padding: 2rem 0;
  }
  table {
    margin: 0;
    width: 100%
  }
  button {
    line-height: 2;
  }
  .silver {
    background-color: $color-gray-lightest;
  }
  .blue-medium {
    background-color: $color-blue-medium;
  }
}// end #customize, #how-much-you-saved, #maximize

#maximize {
  table {
    border-color: none;
    caption {
      font-family: $font-sans;
      font-size: 3rem;
      font-weight: $medium;
      margin-bottom: 1rem;
      padding: 2rem 0;
      background-color: $color-gray-lightest;
    }
    thead tr:nth-child(1) th {
      background: white;
      position: sticky;
      top: 0;
      z-index: 10;
      color: $color-blue-light;
      width: 50%;
      // padding-bottom: 2rem;
      // margin-top: 0;
      font-size: 2.5rem;
      font-weight: 700;
      &:first-child {
        color: $color-blue-lightest;
      }
      i {
        font-weight: 300;
        display: block;
        font-size: 8rem;
        margin: 0;
        padding: 1rem 0;
        line-height: 1;
      }
    }
    th, td, caption {
      text-align: center;
      border: none;
    }
    td {
      color: white;
      background-color: $color-blue-light;
      font-size: 2.2rem;
      vertical-align: text-top;
      line-height: 3.4rem;
      padding-bottom: 5rem;
      &:first-child {
        background-color: $color-blue-lightest;
      }
    }
    .total-contributions {
      td {
        color: black;
        background-color: white;
        padding-bottom: 0;
      }
    }
    span.percent {
      font-size: 6rem;
      font-weight: 400;
      line-height: 9rem;
      padding: 1rem 0;
    }
    .contribute {
      font-size: 4.5rem;
      vertical-align: middle;
      i {
        padding: 0.6rem;
        margin: 0;
      }
    }
    .match {
      position: relative;
      margin: 0 auto;
      top: -2rem;
      font-size: 2.2rem;
      line-height: 3.4rem;
      text-align: center;
    }
  }// end table
}// end #maximize

#customize,
#how-much-you-saved {
  h2 {
    color: white;
  }
}// end #customize, #how-much-you-saved

#customize {
  .form-field-icon {
    display: none;
  }
  .usa-width-one-whole {
      button {
        // margin: 1rem 0;
        margin: calc(3rem - .2em) 0;
    }
  }
}// end #customize

#how-much-you-saved {
  table {
    width: 100%;
    text-align: center;
    caption {
      background-color: $color-blue-medium;
      color: white;
      font-family: $font-sans;
      font-size: 3rem;
      font-weight: $medium;
      margin-bottom: 1rem;
      padding: 2rem 0;
      text-align: center;
      div {
        max-width: 16ch;
        margin: auto;
      }
    }
    thead {
      border-bottom: 2px dotted $color-gray-lighter;
      tr {
        &:nth-child(1) {
          th {
          background: white;
          position: sticky;
          top: 0;
          z-index: 10;
          padding: 1rem 0;
          margin-bottom: 1px;
          span {
            font-size: 2.5rem;
          }
          }
        }
      }
    }
    tr {
      &:last-child {
        border-bottom: 2px dotted $color-gray-lighter;
      }
    }
    th, td {
      width: 33%;
      text-align: center;
      border: none;
      padding: 1rem .5rem;
    }
    h3 {
      padding: .5rem 0;
      margin: 0;
      line-height: 1;
    }
    .silver {
      td {
        background-color: $color-gray-lightest;
        border: none;
      }
    }
  }// end table

  .input-wrapper {
    span.percent {
      display: none;
    }
  }
}// end #how-much-you-saved

#free-money {
  background-color: $color-blue-darkest;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  padding: 2.2rem 0;
  margin-top: 4rem;
  i {
    margin-bottom: 2.2rem;
  }
  .icon-free-money {
    font-size: 3.7rem;
    padding: .6rem 1.3rem;
    border-bottom: 1px solid white;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
// end #free-money

@media screen and (min-width: $medium-screen) {
  #customize,
  #how-much-you-saved,
  #maximize {
    padding: 0;
    table {
      margin: 2rem 0 1rem 0;
    }
    button {
      line-height: 1;
    }
  }

  #maximize {
    table {
      thead tr:nth-child(1) th {
        i {
          font-size: 16rem;
        }
      }
      span.percent {
        font-size: 8rem;
        font-weight: 400;
        line-height: 9rem;
        padding: 1rem 0;
      }
      .match {
        position: relative;
        margin: 0 auto;
        top: -2rem;
        width: 70%;
        font-size: 2.2rem;
        line-height: 3.4rem;
        padding: 3rem 4.6rem;
        text-align: center;
      }
    }
  } // end #maximize

  #customize,
  #how-much-you-saved {
    text-align: center;
    h3 {
      font-size: 2.2rem;
      padding: 1rem 0;
    }
  }

  #customize {
    .form-field-icon {
      display: inline;
      font-size: 11rem;
      margin-top: 3rem;

      i {
        padding-top: 3rem;
        color: $color-blue-medium;
      }
    }
    input, select {
      width: 60%;
      display: inline-block;
      text-align: center;
    }
    select {
      width: 80%;
    }
  }// end #customize

  #how-much-you-saved {
    margin-bottom: 2.5rem;
    .sticky-parent {
      display: table;
      margin: 0;
      padding: 0;
    }
    table {
      caption {
        div {
          max-width: inherit;
        }
      }
      thead {
        tr {
          &:nth-child(1) {
            th {
              font-size: 2.2rem;
              span {
                font-size: 3.5rem;
              }
            }
          }
        }
      }
    }// end table
    .usa-width-one-whole.recalculate {
      text-align: left;
      padding-left: 25%;
        // button,
        // label,
        // span {
        //   margin: 0;
        // }
      .input-wrapper {
        display: flex;
        justify-content: left;
        align-items: stretch;
        span.percent {
          display: inline-block;
          font-size: 4rem;
          padding: 0 2.5rem 0 0;
          float: none;
        }
      }
      span {
          display: inline-flex;
          align-items: center;
        }
      input {
        float: left;
        max-width: 16ch;
        margin-right: 0.6rem;
        display: inline-block;
      }
    }
  } // end #how-much-you-saved
}
// end @media
