html {
  scroll-behavior: smooth;
}

.bg-gray {
  background-color: #E5E1E6;
}

.bg-gray-light {
  background-color: #F2EDF3;
}

.border-right {
  border-right: 1px solid $color-blue-darkest;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nobr {
  white-space: nowrap;
}
.underline {
  text-decoration: underline;
}
.blue-medium {
  background-color: #116C97;
}

.hide {
  display: none;
}
@media (min-width: #{$medium-screen}) {
  .usa-hero-callout {
    max-width: 36rem;
  }
}

.fund-contributions {
  .usa-width-one-half {
    background-color: #f7f5f5;
    padding: 2rem;
    h2 {
      font-family: $font-sans;
      font-weight: 400;
      font-size: 2.5rem;
      border-bottom: 4px solid #323a45;
    }
  }
}

.card {
  background-color: #f7f5f5;
  padding: 2rem;
  .card-title {
    margin-top:0;
    font-family: $font-sans;
    font-weight: 400;
    font-size: 2.5rem;
  }
}

#footnotes {
  ol {
    padding-left: 20px;
    max-width: inherit;
  }
  margin-top: 50px;
  border-top: 1px solid silver;
  font-size: 0.8em;
}

#main-content {
  min-height: calc(100vh - 300px);
}

.flex-grid {
  display: flex;
  .usa-alert {
    height: 100%;
  }
}

.flatpickr-monthDropdown-months {
  display: inline-block;
}
