.bg-gray {
  background-color: #E5E1E6;
}

.bg-gray-light {
  background-color: #F2EDF3;
}

.border-right {
  border-right: 1px solid $color-blue-darkest;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.blue-medium {
  background-color: #116C97;
}

@media (min-width: #{$medium-screen}) {
  .usa-hero-callout {
    max-width: 36rem;
  }
}

.fund-contributions {
  .usa-width-one-half {
    background-color: #f7f5f5;
    padding: 2rem;
    h2 {
      font-family: $font-sans;
      font-weight: 400;
      font-size: 2.5rem;
      border-bottom: 4px solid #323a45;
    }
  }
}
.contribution-type {
  .usa-width-one-half {
    margin-bottom: 3rem;
  }
  img {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}
}

.card {
  background-color: #f7f5f5;
  padding: 2rem;
  .card-title {
    margin-top:0;
    font-family: $font-sans;
    font-weight: 400;
    font-size: 2.5rem;
  }
}
