
ul.usa-accordion {
  &.explain-this,
  &.subscribe {
    max-width: 46rem;
    margin-top: .5rem;
    li {
      background-color: transparent;
      .usa-accordion-button {
        background-color: transparent;
        background-image: none;
        font-weight: 400;
        color: $color-primary;
        position: relative;
        line-height: 2rem;
        // padding: 1.5rem 2rem;
        padding: 0 2rem;
        &:after {
          font-family: $font-awesome;
          font-weight: $light;
          font-size: 2rem;
          content: "\f4a7";
          // float: right;
          padding-left: 1rem;
        }
        &[aria-expanded="false"] {
          &:after {
            content: "\f4a8";
          }
        }
        &:hover {
          background-color: #d6d7d9;
        }
      } // end .usa-accordion-button
      .usa-accordion-content {
        background-color: transparent;
      } // end .usa-accordion-content
    }
  }
}
.subscribe-or-search {
  margin-bottom: 6rem;

  div {
    &.header-line {
      justify-content: space-between;
      align-items: baseline;
    }

    form {
      &.select {
        margin-right: 2rem;

        select {
          width: 30rem;
          border: none;
          border-bottom: 1px solid $color-gray-lighter;
          font-size: 2.4rem;
          font-family: inherit;
          padding: 0 1rem;
        }
      }

      &.animated-search {
        input[type=text] {
          width: 50px;
          // width: 100%;
          // max-width: 100%;
          box-sizing: border-box;
          border: 1px solid $color-gray-lighter;
          background-color: white;
          background-image: url($baseurl + '/assets/uswds/img/search-outline-alt.svg');
          background-size: 2rem 2rem;
          background-position: 25px 11px;
          background-repeat: no-repeat;
          font-family: $font-sans;
          font-size: 2.4rem;
          padding: 0 2rem 0 5rem;
          height: 4.4rem;
          line-height: 1.3;
          margin: 0.2em 0;
          -webkit-transition: width 0.4s ease;
          /* Safari and Chrome */
          transition: width 0.4s ease;

          &::placeholder {
            // text-align: center;
            padding-left: 0.7rem;
          }
        }

        input[type=text]:focus {
          width: 52rem;
          border: 2px solid green;
        }
      }
    }    // end form
  }
}
  // NEXT OUTAGE
  .usa-content {
    .next-outage {
      text-align: center;

      ul {
        &:not(.usa-accordion) {
          list-style: none;
          padding-left: 0;
          max-width: none;
          margin: 3rem 0 4rem;
        }

        li {
          margin-bottom: 0;
        }
      }
    }
  }

  h1#news-and-resources,
  h1#plan-news {
    font-family: $sans;
    font-weight: 600;
    text-align: center;
    margin-top: 0.67em;
    line-height: 0;
  }

  section {
    &.key-rates,
    &.latest-news,
    &.plan-news,
    &.plan-news-archive,
    &.popular-forms-calculators,
    &.popular-videos,
    &.top-5-faq {
      h2,
      h3 {
        font-family: $sans;
        font-weight: 600;
      }
    }
    // KEY RATES

    &.key-rates {
      .usa-grid {
        padding-left: 0;
        padding-right: 0;

        .usa-width-one-third {
          border: 1px solid $color-gray-lighter;
          text-align: center;
          font-size: inherit;
          min-height: 20rem;
          padding-top: 5rem;

          div {
            font-size: 4rem;
            font-weight: 600;
            color: $color-primary;
          }

          ul {
            &.usa-accordion {
              & > li {
                background-color: inherit;
                margin-bottom: 0;

                button {
                  &.usa-accordion-button {
                    font-weight: 400;
                    background-image: none;
                    padding: 0;
                    text-align: center;
                    background-color: inherit;
                    transition: all 0.35s ease-in-out;

                    &:after {
                      display: inline-block;
                      font-family: $font-awesome;
                      content: "\f107";
                      transition: inherit;
                    }

                    &[aria-expanded=true] {
                      &:after {
                        display: inline-block;
                        transform: rotate(180deg);
                        transition: inherit;
                      }
                    }
                  }
                }
                // end button

                .usa-accordion-content {
                  padding: 1.5rem 0.5rem;

                  p {
                    font-weight: 400;
                    font-size: 1.7rem;
                    color: #222223;
                    line-height: 0.8;
                    font-size: 1.6rem;

                    span {
                      font-weight: bold;
                    }
                  }

                  &[aria-hidden=true] {
                    visibility: hidden;
                    opacity: 0;
                    // transition: visibility 1s, opacity 0.5s linear;
                    // transition-delay: .35s;
                    display: block;
                  }

                  &[aria-hidden=false] {
                    // transition-property: all;
                    // transition-duration: 1s;
                    // transition-timing-function: linear;
                    // transition-delay: .35s;
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 1s, opacity 0.5s linear;
                    transition-delay: 0.35s;
                  }
                }
              }
            }
          }
        }
      }
    }
    // LATEST NEWS & POPULAR VIDEOS
    &.latest-news,
    &.plan-news,
    &.plan-news-archive,
    &.popular-videos {
      span {
        // border: 1px solid red;
      }

      div {
        &.video-description {
          background-color: #fff;
          margin-bottom: 2rem;
        }

        &.header-line {
          justify-content: space-between;
          align-items: baseline;
          h2 {
            border-bottom: 1px solid $color-gray-lighter;
          }
        }
      }

      .usa-grid {
        background-color: $color-gray-lightest;
        padding: 1.8rem 3rem;
      }

      .post-and-share {
        color: $color-primary;
        align-items: center;

        span {
          font-weight: 700;
        }

        .tooltip > button,
        button {
          background-color: inherit;
          border: none;
          // border: 1px solid pink;
          margin: 0;
          color: inherit;
          padding: 0 1.2rem;
        }
      }
      // end .post-and-share
    }
    // end .latest-news, .popular-videos
    // POPULAR FORMS & CALCULATORS
    &.popular-forms-calculators {
      .usa-width-one-half {
        margin-right: 0.5%;
      }

      p {
        text-align: center;
        background-color: $color-blue-light;
        color: #fff;
        line-height: 1.3;
        padding: 1.2rem 0;
      }

      ul {
        list-style: none;

        li {
          &:before {
            font-family: $font-awesome;
            margin-left: -2rem;
            margin-right: 1rem;
            content: "\f040";
            font-weight: 700;
            color: $color-blue-light;
          }
        }

        &.calculators-list {
          li {
            &:before {
              content: "\f1ec";
              font-weight: 400;
            }
          }
        }
      }
      // end ul

      .usa-grid {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  // end section
