
// .usa-accordion.contribution-limits > li, .usa-accordion-bordered.contribution-limits > li {
//   background-color: inherit;
// }

.home-our-funds {
  .usa-grid {
    padding-top: 4rem;
  }
  // ul {
  //   display: flex;
  //   align-items: flex-start;
  //   justify-content: center;
  // }
  li {
    margin: 0;
  }
}
.our-funds.usa-tabs.usa-accordion {
  .arrow-bottom-section {
      position: relative;
  }
  .arrow-bottom::after {
     content: '';
     position: absolute;
     left: 47%;
     top: 86%;
     width: 0;
     height: 0;
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
     border-top-width: 20px;
     border-top-style: solid;
     clear: both;
  }
  .usa-accordion-button {
    position: relative;
    text-align: center;
    font-size: 2rem;
    width: 49%;
    background-color: #ffffff;
    border: none;
    color: #323a45;
    margin-bottom: 1rem;
    &[aria-expanded="true"] {
      background-color: #323a45;
      color: $color-white;
      line-height: 1;
    }
    &[aria-expanded="true"]::after {
      content: '';
      position: absolute;
      left: 46%;
      top: 100%;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: none;
      border-top-width: 20px;
      border-top-style: solid;
      border-top-color: #323a45;
      clear: both;
    }
  }
  .usa-accordion-content {
    margin-bottom: 3rem;
    p {
      margin:auto;
      font-size: 3rem;
      padding: 3rem 0;
    }
  }
}


@media screen and (min-width: 992px) {
  .our-funds.usa-tabs.usa-accordion {
    .usa-accordion-button {
      // width: 20rem;
    }
  }
}
