.usa-width-one-half {
  &.scenario {
    h3 {
      background-color: $color-gray;
      color: #fff;
      padding: 1rem .75rem;
      margin-bottom: 0;
      font-family: $sans;
      font-weight: 400;;
    }
    .contributions {
      li {
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
