span {
  &.whole-number {
    input {
      width: 95%;
    }
    &:after {
      content: ".00";
      right: -0.5rem;
    }
  }
}

section.calculator-panel.comparison.paycheck { // Panel 4: Results

  td.sep {
    .flex {
      a {
        font-weight: 400;
        i {
          padding: 0 0 0 .75rem;
        }
      }
    }
  }

  #footnotes {
    margin-bottom: 2rem;
  }
}
.usa-width-one-half {
  &.scenario {
    h3 {
      background-color: $color-gray;
      color: #fff;
      padding: 1rem .75rem;
      margin-bottom: 0;
      font-family: $sans;
      font-weight: 400;;
    }
    .contributions {
      li {
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.usa-content {

  .expected-annual-return {
    margin-top: 2rem;

    ul {
      &.inline-input {
        max-width: none;
        li {
          justify-content: center; // Center input in panel
        }
      }
    }

    .explain-this {
      margin: auto; // Center accordion in panel
    }
  }// END div.expected-annual-return
}
