section {
  &.search-site {
      padding: 0 14rem;
      border: 1px solid red;

      h1 {
        margin-top: 0;
      }
      h3 {
        margin: 0;
        font-weight: normal;
        line-height: 1.42857143;
        color: #595959;
      }
      input {
        &[type=search] {
          width: 100%;
        }
      }

      a,
      input[type=submit],
      #clear-button {
        &:focus {
          outline: thin dotted;
          outline: 5px auto -webkit-focus-ring-color;
          outline-offset: -2px;
          outline: #fcb117 solid 3px;
          }
      }

    .url {
      color: #006800;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 1.5em;
      display: block;
      word-wrap: break-word;
    }
    #best-bets {
      margin-bottom: 12px;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 4px;
      background-color: #fff;
      margin: 0 12px 12px;
      overflow: hidden;
    }
  } // end .search-site
} // end section

@media screen and (max-width: $large-screen) {
  #best-bets {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
