
form.share-price-date-range {
  input.date-range {
    width: 94%;
  }
}

// "STICKY" LEFT-COLUMN HEADER: Share price history
section.share-price-table {
    .table-view {
      padding: 0;
      margin: 0;
      text-align: right;
      max-width: 100%;
    }
    &.full-width {
      width: 100vw;
      position: absolute;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
} // end .share-price-table

.share-price-history-controls {
  display: flex;
  align-items: flex-end;
  .usa-width-one-half {
    border: 1px solid blue;
    &.expand {
      display: block;
      border: 1px solid red;
      text-align: right;
    }
  }
}

@media only screen and (max-width: #{$large-screen}) {
  section.share-price-table {
      .table-view {
        margin-top: 3rem;
        button {
          display: none;
        }
      }
    }
}
