
form.share-price-date-range {
  input.date-range {
    width: 94%;
  }
}

// "STICKY" LEFT-COLUMN HEADER: Share price history

.share-price-history-controls {
  display: flex;
  align-items: flex-end;
  .usa-width-one-half {
    border: 1px solid blue;
    &.expand {
      display: block;
      border: 1px solid red;
      text-align: right;
    }
  }
}

@media only screen and (max-width: #{$large-screen}) {
  section.share-price-table {
      .table-view {
        margin-top: 3rem;
        button {
          display: none;
        }
      }
    }
}
