// Mobile first

main {
  &.usa-layout-docs {
    display: flex;
    flex-direction: column;
  }
}
aside {
  &.usa-width-one-fourth {
    width: 100%;
  }

  &.usa-layout-docs-sidenav {
    order: 1;
    padding-top: 0;
    padding-bottom: 2.4rem;
  }

  &.sticky {
    position: relative;
  }

  button.usa-accordion-button {
    display: block;
    background-color: $color-primary;
    color: white;
    padding: 1.5rem 2rem;

    &:hover {
      background-color: $color-primary;
    }

    &[aria-expanded="false"],
    &[aria-expanded="true"] {
      background-color: $color-primary;
      color: white;
      background-image: none;

      &:after {
        font-family: $font-awesome;
        content: "\f067";
        float: right;
      }
    }

    &[aria-expanded="true"] {
      &:after {
        content: "\f068";
      }
    }
  }

  .usa-accordion-content {
    padding: 1.5rem 2rem;
  }

  .usa-sidenav-list {
    border-top: none;
  }
}


@media (min-width: #{$large-screen}) {
  main {
    &.usa-layout-docs {
      display: flex;
      flex-direction: row;
    }
  }
  aside {
    &.usa-width-one-fourth {
      width: initial;
    }
    .usa-accordion-content {
      padding-top: 0;
    }
    button.usa-accordion-button {
      display: none;
    }
  }
}
