---
layout: default
main:
  class: usa-grid usa-section usa-content usa-layout-docs fund-details
scripts:
  - /assets/js/jquery.min.js
  - /assets/js/highcharts/highcharts.js
  - /assets/js/highcharts/exporting.js
  - /assets/js/highcharts/export-data.js
  - /assets/js/highcharts/data.js
  - /assets/js/calculator/lifecycle.js
---
{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
{% if sidenav %}

<aside class="usa-width-one-fourth usa-layout-docs-sidenav sticky">
  <ul class="usa-accordion">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="true"
        aria-controls="sidenav-mobile">
        More in this section
      </button>
      <div id="sidenav-mobile" class="usa-accordion-content">
        {% include sidenav.html links=sidenav %}
      </div>
    </li>
  </ul>
</aside>

<div class="usa-width-three-fourths usa-layout-docs-main_content">
<div class="fund-details-header usa-grid-full">
  <div class="usa-width-three-fourths">
  <h1>{{ page.Fund_name }}</h1>

  <p class="fund-subtitle">
    {{page.Fund_subtitle}}
  </p>
</div>
<div class="usa-width-one-fourth">
  <a href="../" class="usa-button compare-funds-button">Compare funds</a>
</div>
</div>
<div class="usa-section fund-questions">
  <h2>First, let's answer a few questions.</h2>
  <ul class="usa-accordion">
    {% for item in page.questions %}
    <li>
      <button class="usa-accordion-button"
        aria-expanded="true"
        aria-controls="question-{{ forloop.index }}">
        {{ item.question }}
      </button>
      <div id="question-{{ forloop.index }}" class="usa-accordion-content usa-content">
        <p>{{ item.answer }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


  <div class="fund-objective">
    <div class="usa-grid usa-content">
    <p>{{ page.Fund_objective }}</p>
  </div>
  </div>

<div class="usa-section">
<h2>Performance</h2>
<table class="usa-table-borderless avg-annual-returns">
  <caption id="aar_caption">Average annual returns</caption>
  <thead>
  <tr>
    <th>YTD (Daily)</th>
    <th>1 Yr</th>
    <th>3 Yrs</th>
    <th>5 Yrs</th>
    <th>10 Yrs</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td id="aar_ytd">{{ page.avg_annual_returns.ytd }}</td>
    <td id="aar_1yr">{{ page.avg_annual_returns.one_yr }}</td>
    <td id="aar_3yr">{{ page.avg_annual_returns.three_yr }}</td>
    <td id="aar_5yr">{{ page.avg_annual_returns.five_yr }}</td>
    <td id="aar_10yr">{{ page.avg_annual_returns.ten_yr }}</td>
  </tr>
</tbody>
</table>

</div>

<section id="fund-tabs">
<ul class="usa-accordion usa-tabs">
    <li>
        <button class="usa-accordion-button" aria-expanded="false" aria-controls="a1">
          Summary
    </button>
        <div id="a1" class="usa-accordion-content">
          <div class="usa-grid-full">
            <div class="usa-width-one-half fund-summary-details">
              <h3>Details {% if page.summary_update %}<span class="as-of-date">As of {{ page.summary_update }}</span>{% endif %}</h3>
                <p><b>Assets</b><br>
                {{ page.summary_details.assets }}
              </p>
              <p><b>Net admin expense</b><br>
                {% include components/expense_string.html value=page.summary_details.net_expense %}
              </p>
              <p><b>Other expense</b><br>
                {% include components/expense_string.html value=page.summary_details.other_expense %}
              </p>
                <p><b>Benchmark index</b><br>
                  {{ page.summary_details.benchmark_index }}
                </p>
                <p><b>Asset manager</b><br>
                {{ page.summary_details.asset_manager }}
              </p>
            </div>
            <div class="usa-width-one-half fund-summary-top-ten">
              <h3>Top ten holdings {% if page.top_ten_update %}<span class="as-of-date">As of {{ page.top_ten_update }}</span>{% endif %}</h3>
              <ol>
              {% for item in page.top_ten_holdings %}
              <li>
                  <span class="holdings-abbr">{{ item.abbr }}</span>
                  {{ item.name }}
              </li>
              {% endfor %}
            </ol>
            </div>
          </div>
        </div>
    </li>
    <li>
        <button class="usa-accordion-button" aria-expanded="true" aria-controls="a2">
      Performance &amp; risks
    </button>
        <div id="a2" class="usa-accordion-content">
          <div class="usa-grid-full">
            <div class="usa-width-one-whole">
              <div id="annualReturnsColumn" class="hc-annual-returns-bar"></div>
              <div id="annualReturnsTable" class="hc-annual-returns-table"></div>
              <div id="growthInception" class="hc-growth-inception"></div>
            </div>
          </div>
        </div>
    </li>
    <li>
        <button class="usa-accordion-button" aria-expanded="false" aria-controls="a3">
      Composition
    </button>
        <div id="a3" class="usa-accordion-content">
{% include components/fund-composition.html %}
        </div>
    </li>
    <li>
        <button class="usa-accordion-button" aria-expanded="false" aria-controls="a4">
      Fees &amp; more info
    </button>
        <div id="a4" class="usa-accordion-content">
          <div class="usa-grid-full">
            <div class="usa-width-one-half">
              <h3>Fees {% if page.summary_update %}<span class="as-of-date">As of {{ page.summary_update }}</span>{% endif %}</h3>
              <p><b>Net admin expense<sup>*</sup></b><br>
                {% include components/expense_string.html value=page.summary_details.net_expense %}
              </p>
              <p><b>Other expense<sup>**</sup></b><br></p>
                {% include components/expense_string.html value=page.summary_details.other_expense %}
              <p>
                <sup>*</sup>{% include components/expense_string.html value=page.summary_details.net_expense explain=true %}
              </p>
              <p><sup>**</sup>Fees associated with securities lending are not included in 2017 administrative expenses.
                Consistent with standard practice in the industry, they are charged in addition to administrative expenses. The other expenses
                represent fees paid to the investment manager for administering securities lending programs. Income earned from these programs improved the returns of
                the fund.
              </p>
            </div>
            <div class="usa-width-one-half">
              <h3>Additional information </h3>
              {{ page.additional_info | markdownify }}
            </div>
          </div>
        </div>
    </li>
</ul>
</section>

{{ page.content }}


</div>
{% else %}
<div class="usa-layout-docs-main_content">
  {{ content }}
</div>
{% endif %}
