---
layout: default
main:
  class: usa-grid usa-section usa-content usa-layout-docs fund-details
---
{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
{% if sidenav %}
<aside class="usa-width-one-fourth usa-layout-docs-sidenav sticky">
  {% include sidenav.html links=sidenav %}
</aside>

<div class="usa-width-three-fourths usa-layout-docs-main_content">
<div class="fund-details-header usa-grid-full">
  <h1>{{ page.Fund_name }}</h1>
  <a href="#" class="usa-button compare-funds-button">Compare funds</a>
  <p>
    {{page.Fund_subtitle_line_1}}<br>
    {{page.Fund_subtitle_line_2}}
  </p>
</div>
<div class="usa-section">
  <h2>First, let's answer a few questions.</h2>
  <ul class="usa-accordion">
    {% for item in page.questions %}
    <li>
      <button class="usa-accordion-button"
        aria-expanded="true"
        aria-controls="question-{{ forloop.index }}">
        {{ item.question }}
      </button>
      <div id="question-{{ forloop.index }}" class="usa-accordion-content usa-content">
        <p>{{ item.answer }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


  <div class="usa-section-dark fund-objective">
    <div class="usa-grid usa-content">
    <p>{{ page.Fund_objective }}</p>
  </div>
  </div>

<div class="usa-section">
<h2>Performance</h2>
<p>As of 12/31/{{ 'now' | date: "%Y" | minus: 1 }}</p>
<table class="usa-table-borderless avg-annual-returns">
  <caption>Average annual returns</caption>
  <thead>
  <tr>
    <th>YTD (Daily)</th>
    <th>1 Yr</th>
    <th>3 Yrs</th>
    <th>5 Yrs</th>
    <th>10 Yrs</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{ page.avg_annual_returns.ytd }}</td>
    <td>{{ page.avg_annual_returns.one_yr }}</td>
    <td>{{ page.avg_annual_returns.three_yr }}</td>
    <td>{{ page.avg_annual_returns.five_yr }}</td>
    <td>{{ page.avg_annual_returns.ten_yr }}</td>
  </tr>
</tbody>
</table>

</div>

  <ul class="usa-accordion usa-tabs">
      <li>
          <button class="usa-accordion-button" aria-expanded="true" aria-controls="a1">
            Summary
      </button>
          <div id="a1" class="usa-accordion-content">
              Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress
              of grievances.
          </div>
      </li>
      <li>
          <button class="usa-accordion-button" aria-expanded="false" aria-controls="a2">
        Performance &amp; risks
      </button>
          <div id="a2" class="usa-accordion-content">
              A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.
          </div>
      </li>
      <li>
          <button class="usa-accordion-button" aria-expanded="false" aria-controls="a3">
        Composition
      </button>
          <div id="a3" class="usa-accordion-content">
              No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.
          </div>
      </li>
      <li>
          <button class="usa-accordion-button" aria-expanded="false" aria-controls="a4">
        Fees &amp; more info
      </button>
          <div id="a4" class="usa-accordion-content">
              The right of the people to be secure in their persons, houses, papers, and effects, against unreasonable searches and seizures, shall not be violated, and no Warrants shall issue, but upon probable cause, supported by Oath or affirmation, and particularly
              describing the place to be searched, and the persons or things to be seized.
          </div>
      </li>
  </ul>

  {{ content }}
</div>
{% else %}
<div class="usa-layout-docs-main_content">
  {{ content }}
</div>
{% endif %}
