---
layout: default
main:
  class: usa-grid usa-section usa-content usa-layout-docs
scripts:
  - /assets/js/jquery.min.js
  - /assets/js/bootstrap.min.js
  - /assets/js/copy-to-clipboard.js
---
{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
{% assign xtra_class = '' %}
{% if sidenav %}

{% assign xtra_class = 'usa-width-three-fourths' %}
<aside class="usa-width-one-fourth usa-layout-docs-sidenav sticky">
  <ul class="usa-accordion">
    <li>
      <button class="usa-accordion-button" aria-expanded="true" aria-controls="sidenav-mobile">
        More in this section
      </button>
      <div id="sidenav-mobile" class="usa-accordion-content">
        {% include sidenav.html links=sidenav fake='/agency-service-reps/bulletins-fake/' %}
      </div>
    </li>
  </ul>
</aside>
{% endif %}

<div class="{{xtra_class}} usa-layout-docs-main_content" markdown="1">
  <!-- DONALD style this -->
  <span class="see-all"><a href="{{ site.baseurl }}/agency-service-reps/bulletins/">See all</a></span>

  <section class="bulletin-archive">
  {% include bulletins/bulletin.html entry=page %}
  </section>
</div>
