* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.glossary {
  background: #e1f3f8;
  border-left: 1px solid #205493;
  width: 30rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: .5rem;
  transition: right .2s;
}

.glossary[aria-hidden=true] {
  right: -30rem;
}

.glossary div[aria-hidden=true] {
  display: none !important;
}

.glossary button {
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  appearance: none;
  background-color: #0071bc;
  border: 1px solid #205493;
  color: #fff;
  padding: .5rem;
  text-align: left;
}

.js-accordion button {
  width: 100%;
}

.accordion-trigger--expanded {
  background-color: #112e51;
}

/* Added by TSP */

.term:focus,
.term-end:focus,
.term:hover,
.term-end:hover {
  border-bottom: 1px solid #323c42;
  text-decoration: none;
}

.term-end {
  box-shadow: none;
  margin-right: 0.15rem;
}

.term,
.term-end {
  background-image: url("/assets/img/icons/glossary.svg");
  background-repeat: no-repeat;
    -webkit-transition: background-color,.2s,box-shadow,.2s,color,.2s;
    -moz-transition: background-color,.2s,box-shadow,.2s,color,.2s;
    transition: background-color,.2s,box-shadow,.2s,color,.2s;
    background-size: .6em;
    background-position: 100% 50%;
    background-color: transparent;
    box-shadow: 0 0 0 4px transparent;
    border-bottom: none;
    cursor: pointer;
    margin-right: 2px;
    padding-right: .9em;
}
