{% assign publicationType = resource.publication_type[0] %}
{% assign icon = "fa-file-alt redbg" %}
{% if publicationType ==  "Annuity" %}         {% assign icon = "fa-chart-line" %}           {% endif %}
{% if publicationType ==  "Booklet" %}         {% assign icon = "fa-book" %}                 {% endif %}
{% if publicationType ==  "Fact Sheet" %}      {% assign icon = "fa-file-check" %}           {% endif %}
{% if publicationType ==  "Leaflet" %}         {% assign icon = "fa-sticky-note" %}          {% endif %}
{% if publicationType ==  "Legal Document" %}  {% assign icon = "fa-balance-scale" %}        {% endif %}
{% if publicationType ==  "Tax Notice" %}      {% assign icon = "fa-envelope-open-dollar" %} {% endif %}

<div class="usa-width-one-half">
    <div class="item-frame">
      <div class="top">
      <i class="fas {{ icon }}"></i>
      </div>
      <div class="resource-title">
        <p>{{ resource.publication_name }}</p>
        <p><small>{{ resource.publication_type }}</small></p>
      </div>
    </div> <!-- end .item-frame -->
  </div> <!-- end .usa-width-one-half -->
