{% assign publicationType = resource.publication_type[0] %}
{% assign icon = "fa-file-alt redbg" %}
{% if publicationType ==  "Annuity" %}         {% assign icon = "fal fa-function" %}         {% endif %}
{% if publicationType ==  "Booklet" %}         {% assign icon = "fas fa-book" %}                 {% endif %}
{% if publicationType ==  "Fact Sheet" %}      {% assign icon = "fas fa-file-check" %}           {% endif %}
{% if publicationType ==  "Leaflet" %}         {% assign icon = "far fa-leaf" %}             {% endif %}
{% if publicationType ==  "Legal Document" %}  {% assign icon = "far fa-balance-scale" %}    {% endif %}
{% if publicationType ==  "Tax Notice" %}      {% assign icon = "far fa-file-invoice" %}     {% endif %}

<div class="usa-width-one-half">
    <div class="item-frame">
      <div class="top">
      <i class="{{ icon }}"></i>
      </div>
      <div class="resource-title">
        <p><a href="/publications/{{ resource.publication_url }}" class="">
          {{ resource.publication_name }}</a></p>
        <p><small>{{ resource.publication_type }}</small></p>
      </div>
    </div> <!-- end .item-frame -->
  </div> <!-- end .usa-width-one-half -->
