{% assign publicationType = resource.publication_type[0] %}
{% assign icon = "fa-file-alt redbg" %}
{% if publicationType ==  "Annuity" %}         {% assign icon = "fal fa-function" %}         {% endif %}
{% if publicationType ==  "Booklet" %}         {% assign icon = "fas fa-book" %}                 {% endif %}
{% if publicationType ==  "Fact Sheet" %}      {% assign icon = "fas fa-file-check" %}           {% endif %}
{% if publicationType ==  "Leaflet" %}         {% assign icon = "far fa-leaf" %}             {% endif %}
{% if publicationType ==  "Legal Document" %}  {% assign icon = "fas fa-gavel" %}    {% endif %}
{% if publicationType ==  "Tax Notice" %}      {% assign icon = "far fa-file-invoice" %}     {% endif %}
{% assign divBlockID = "" %}
{% assign divBlockClass = "" %}
{% assign nameDiv = include.nameDiv | default: 0 %}
{% if nameDiv != 0 %}
  {% assign divBlockID = "id='" | append: resource.publication_url | replace: '.', '-' | append: "-block'" %}
  {% assign divBlockClass = "div-block-class div-resource-class" %}
{% endif %}
{% include components/testURL.html curPath='/publications/' rawURL=resource.publication_url %}{% assign pubURL= absURL %}

<div class="usa-width-one-half {{divBlockClass}}" {{divBlockID}}>
  {% if nameDiv != 0 %}<br>{% endif %}
  <div class="item-frame">
    <div class="top">
    <i class="{{ icon }}"></i>
    </div>
    <div class="resource-title">
      <p><a href="{{ pubURL }}" class="">
        {{ resource.publication_name }}</a></p>
      <p><small>{{ resource.publication_type }}</small></p>
    </div>
  </div> <!-- end .item-frame -->
</div> <!-- end .usa-width-one-half -->
